<!-- Use this page as the index for your project -->

{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Submit your eDeclaration" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->


      <h1 class="nhsuk-label--xl app-heading-xl">
        {{ contentTitle }}
      </h1>
      <p>
        Use this service to:
      </p>
      <ul>
        <li>confirm your GP practice details are correct</li>
        <li>submit your eDeclaration</li>
      </ul>

      <p>
        This service is for GP practices in England.
      </p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information:</span>
        <p>You have until 1 October 2019 to submit your eDeclaration.</p>
      </div>


      <h2>
        Before you start
      </h2>
      <p>
        To start you will need your username and password to log in to the service.
      </p>



      {{ button({
        "text": "Start now",
        "href": "/submit-your-edec/log-in/user-log-in"
      }) }}

      <p><a href="/{{ PROTOTYPEURL }}/start-page/no-username-or-password">I do not have my login details</a></p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
