{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% if data['surgery'] %}
    {% set surgery = data['surgery'] %}
  {% else %}
    {% set surgery = "One Medicare LLP-The Light" %}
{% endif %}
{% set contentTitle = "What is your GP practice contract type?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ surgery }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="#" method="get">

        {{ radios({
          "idPrefix": "example-divider",
          "name": "example",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "classes": "nhsuk-label--xl app-label-xl"
            }
          },
          "items": [
            {
              "value": "gms",
              "text": "General medical services (GMS)"
            },
            {
              "value": "pms",
              "text": "Personal medical services (PMS)"
            },
            {
              "value": "apms",
              "text": "Alternative provider medical services (APMS)"
            },
            {
              "divider": "or"
            },
            {
              "value": "other",
              "text": "Other type of contract"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>


      <div class="nhsuk-radios nhsuk-radios--conditional" data-module="radios">
  <div class="nhsuk-radios__item">
    <input class="nhsuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" aria-controls="conditional-how-contacted-conditional-1" aria-expanded="false">
    <label class="nhsuk-label nhsuk-radios__label" for="how-contacted-conditional-1">
      Email
    </label>
  </div>
  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="contact-by-email">
        Email address
      </label>
      <input class="nhsuk-input nhsuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
    </div>
  </div>
  <div class="nhsuk-radios__item">
    <input class="nhsuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" aria-controls="conditional-how-contacted-conditional-2" aria-expanded="true">
    <label class="nhsuk-label nhsuk-radios__label" for="how-contacted-conditional-2">
      Phone
    </label>
  </div>
  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="contact-by-phone">
        Phone number
      </label>
      <input class="nhsuk-input nhsuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
    </div>
  </div>
  <div class="nhsuk-radios__item">
    <input class="nhsuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" aria-controls="conditional-how-contacted-conditional-3" aria-expanded="false">
    <label class="nhsuk-label nhsuk-radios__label" for="how-contacted-conditional-3">
      Text message
    </label>
  </div>
  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="contact-by-text">
        Mobile phone number
      </label>
      <input class="nhsuk-input nhsuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
    </div>
  </div>
</div>

    </div>
  </div>
{% endblock %}
