<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Your GP practice details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->


      <h2>V2</h2>
      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/practice-details-complete-2">Section complete confirmation</a></li>
      </ul>

      <h2>V1</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/check-last-year">Check the answers you submitted last year</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/organisation-code">Enter your organisation code (ODS code)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/practice-name">Enter your GP practice name</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/contract-type">What is your GP practice contract type?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/enter-contract-type">Enter your GP practice contract type</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/organisation-type">What is your organisation type?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/configuration-structure">Has your GP practice changed configuration or structure?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-configuration-structure">What is your new GP practice configuration or structure?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/contract-start-date">Enter your GP practice contract start date</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/contract-end-date">Enter your GP practice contract end date</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/patients-phone-number">Enter your GP practice phone number for patients</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/other-phone-number">Do you have another phone number for people who are not patients to contact you on?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/what-is-other-phone-number">Enter the phone number people who are not patients can contact you on</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/branches">Does your GP practice have any branches?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/how-many-branches">Enter the number of brances your GP practice has</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/check-your-answers">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/practice-details-complete">Section complete confirmation</a></li>
      </ul>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
