<!-- Use this page as the index for your project -->
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Your GP practice details" %}
{% set title = contentTitle + " - " + serviceName %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Your practice details
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <ul>
        <li><a href="/submit-your-edec/sections/practice-details/organisation-code">Enter your organisation code (ODS code)</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/practice-name">Enter your GP practice name</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">What is your GP practice contract type?</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Enter your GP practice contract type</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">What is your organisation type?</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Has your GP practice changed configuration or structure since you submitted your last eDeclaration?</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Enter your GP practice contract start date</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Enter your GP practice contract end date</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Enter your GP practice phone number for patients</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Do you have another phone number for people who are not patients to contact you on?</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Enter the phone number people who are not patients can contact you on</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Does your GP practice have any branches?</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Enter the number of brances your GP practice has</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Check your answers</a></li>
        <li><a href="/submit-your-edec/sections/practice-details/">Section complete confirmation</a></li>
      </ul>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
