<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Make sure users know where they are in the service" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <p>Make sure users know:</p>
      <ul>
        <li>what section they're in</li>
        <li>which GP surgery they're in</li>
      </ul>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Exploration</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/orientation/single-breadcrumb">Single breadcrumb</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/orientation/breadcrumb-trail">Breadcrumb trail</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/orientation/side-bar-border">Side bar with border</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/orientation/side-bar-no-border">Side bar without border</a></li>
      </ul>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
