{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['surgery'] %}
    {% set surgery = data['surgery'] %}
  {% else %}
    {% set surgery = "One Medicare LLP-The Light" %}
{% endif %}
{% set contentTitle = "Check the practice details you submitted last year for " + surgery %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">One Medicare LLP-The Light practice details</p>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              text: "Organisation code (ODS code)"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: ""
             }
           },
           {
             key: {
               text: "Organisation type"
             },
             value: {
               text: ""
             }
           },
           {
             key: {
               text: "Configuration or structure"
             },
             value: {
               text: ""
             }
            },
            {
              key: {
                text: "Contract start date"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                text: "Contract end date"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                text: "Telephone number for patients"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                text: "Telephone number for non-patients"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                text: "Number of branches"
              },
              value: {
                text: ""
              }
            }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/practice-details/check-last-year" method="post">
        {{ radios({
          "idPrefix": "sections",
          "name": "practicedetails",
          "fieldset": {
            "legend": {
              "text": "Are these practice details correct?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes, they're correct"
            },
            {
              "value": "no",
              "text": "No, I need to change them"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

      {{ backLink({
        "href": "../index",
        "text": "Back to your task list"
      }) }}

    </div>
  </div>
{% endblock %}
