// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/interruption-card';
@import 'components/card';

a:visited {

  color: $color_nhsuk-blue;
}

@import 'components/list';
@import 'components/email';
@import 'components/study-card';
@import 'components/summary-card';
@import 'components/task-list';
@import 'components/navbar';
@import 'components/autocomplete';
///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

li ul {
  margin-bottom: 0;

  &::before {
    content: "";
    display: block;
    @include nhsuk-responsive-margin(2, 'bottom');  // or $whateverTheRightVariableIsMate

  }
}

.loader {
    border: 16px solid transparent;
    border-top: 16px solid $color_nhsuk-blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text {

  text-align: center;
}

.app-heading-xl {

  @include mq($from: desktop) {
    font-size: 2.7em;
  }
}

.app-label-xl {

  @include mq($from: desktop) {
    font-size: .9em;
  }
}


.nhsuk-grid-row {
  // create one-half tablet viewpoint
  @include govuk-grid-column(one-half, $at: tablet, $class: "app-grid-column-tablet")

  // create one-third tablet viewpoint
  @include govuk-grid-column(one-third, $at: tablet, $class: "app-grid-column-tablet")
}

.app-u-visually-hidden--show-mobile {

  @include mq($from: tablet) {
    @include visually-hidden()
  }
}

.app-u-no-padding--mobile {

  padding: 0 !important;
}

.nhsuk-footer--vertical {

  .nhsuk-footer__list-item {
    float: none;
  }
}
