{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "The premises used for the provision of services under the contract are suitable for the delivery of those services and sufficient to meet the reasonable needs of the practice’s patients" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/premises-equipment/return-user/new-premises-details" method="get">

        {{ radios({
          "idPrefix": "nhs",
          "name": "suitablePremises",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Practice premises and equipment
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-label--l app-heading-l"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

      {{ details({
        "text": "Guidance and regulations for this question",
        "HTML": "
        <p>This question refers to:</p>
        <ul>
          <li>GMS Regulations Schedule 3 Part 1, Paragraph 1</li>
          <li>PMS Regulations Schedule 2 Part 1, Paragraph 2</li>
        </ul>
        <p>And must meet Minimum Standards as defined in Schedule 1 of the Premises Costs Directions (2013)</p>

        "
      }) }}



    </div>
  </div>
{% endblock %}
