{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Check your answers" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
 // remove all :00 from times so that 9:00am becomes 9am but the raw data stays the same
  $('dd:contains(":00")').each(function(){
      $(this).html($(this).html().split(":00").join(""));
  });
  $('dd:contains(".00")').each(function(){
      $(this).html($(this).html().split(".00").join(""));
  });
</script>
{% endblock %}

{% set mondayTime %}
    {% if data['ODS2monday'] and data["ODSmonday"] %}
        {{ data['ODS2monday'] + data["ampmmonday"] + " to " + data["ODSmonday"] + data["ampm1monday"] | placeholder('9am to 12pm<br>2pm to 6pm') }}
      {% else %}
        No intermittent periods that the practice is closed
    {% endif %}
{% endset %}


{% set otherMonday %}
  {% if data['inputOtherMonday'] %}
    {{ data['inputOtherMonday'] }}
  {% endif %}
{% endset %}

{% set mondayFrequency %}
  {% if data['intermittentEditMonday'] == 'fortnightlyMonday' %}
    Fortnightly
  {% elseif data['intermittentEditMonday'] == 'threeWeeksMonday' %}
    Once every three weeks
  {% elseif data['intermittentEditMonday'] == 'monthMonday' %}
    Once a month
  {% elseif data['intermittentEditMonday'] == 'otherMonthMonday' %}
    Once every other month
  {% elseif data['intermittentEditMonday'] == 'otherMonday' %}
        {{ data['inputOtherMonday'] }}
  {% else %}

  {% endif %}
{% endset %}

{% set tuesdayTime %}
    {% if data['ODS2tuesday'] and data["ODStuesday"] %}
        {{ data['ODS2tuesday'] + data["ampmtuesday"] + " to " + data["ODStuesday"] + data["ampm1tuesday"] | placeholder('9am to 12pm<br>2pm to 6pm') }}
      {% else %}
        No intermittent periods that the practice is closed
    {% endif %}
{% endset %}


{% set otherTuesday %}
  {% if data['inputOtherTuesday'] %}
    {{ data['inputOtherTuesday'] }}
  {% endif %}
{% endset %}

{% set tuesdayFrequency %}
  {% if data['intermittentEditTuesday'] == 'fortnightlyTuesday' %}
    Fortnightly
  {% elseif data['intermittentEditTuesday'] == 'threeWeeksTuesday' %}
    Once every three weeks
  {% elseif data['intermittentEditTuesday'] == 'monthTuesday' %}
    Once a month
  {% elseif data['intermittentEditTuesday'] == 'otherMonthTuesday' %}
    Once every other month
  {% elseif data['intermittentEditTuesday'] == 'otherTuesday' %}
        {{ data['inputOtherTuesday'] }}
  {% else %}

  {% endif %}
{% endset %}

{% set wednesdayTime %}
    {% if data['ODS2wednesday'] and data["ODSwednesday"] %}
        {{ data['ODS2wednesday'] + data["ampmwednesday"] + " to " + data["ODSwednesday"] + data["ampm1wednesday"] | placeholder('9am to 12pm<br>2pm to 6pm') }}
      {% else %}
        No intermittent periods that the practice is closed
    {% endif %}
{% endset %}


{% set otherWednesday %}
  {% if data['inputOtherWednesday'] %}
    {{ data['inputOtherWednesday'] }}
  {% endif %}
{% endset %}

{% set wednesdayFrequency %}
  {% if data['intermittentEditWednesday'] == 'fortnightlyWednesday' %}
    Fortnightly
  {% elseif data['intermittentEditWednesday'] == 'threeWeeksWednesday' %}
    Once every three weeks
  {% elseif data['intermittentEditWednesday'] == 'monthWednesday' %}
    Once a month
  {% elseif data['intermittentEditWednesday'] == 'otherMonthWednesday' %}
    Once every other month
  {% elseif data['intermittentEditWednesday'] == 'otherWednesday' %}
        {{ data['inputOtherWednesday'] }}
  {% else %}

  {% endif %}
{% endset %}



{% set thursdayTime %}
    {% if data['ODS2thursday'] and data["ODSthursday"] %}
        {{ data['ODS2thursday'] + data["ampmthursday"] + " to " + data["ODSthursday"] + data["ampm1thursday"] | placeholder('9am to 12pm<br>2pm to 6pm') }}
      {% else %}
        No intermittent periods that the practice is closed
    {% endif %}
{% endset %}


{% set otherThursday %}
  {% if data['inputOtherThursday'] %}
    {{ data['inputOtherThursday'] }}
  {% endif %}
{% endset %}

{% set thursdayFrequency %}
  {% if data['intermittentEditThursday'] == 'fortnightlyThursday' %}
    Fortnightly
  {% elseif data['intermittentEditThursday'] == 'threeWeeksThursday' %}
    Once every three weeks
  {% elseif data['intermittentEditThursday'] == 'monthThursday' %}
    Once a month
  {% elseif data['intermittentEditThursday'] == 'otherMonthThursday' %}
    Once every other month
  {% elseif data['intermittentEditThursday'] == 'otherThursday' %}
        {{ data['inputOtherThursday'] }}
  {% else %}

  {% endif %}
{% endset %}



{% set fridayTime %}
    {% if data['ODS2friday'] and data["ODSfriday"] %}
        {{ data['ODS2friday'] + data["ampmfriday"] + " to " + data["ODSfriday"] + data["ampm1friday"] | placeholder('9am to 12pm<br>2pm to 6pm') }}
      {% else %}
        No intermittent periods that the practice is closed
    {% endif %}
{% endset %}

{% set otherFriday %}
  {% if data['inputOtherFriday'] %}
    {{ data['inputOtherFriday'] }}
  {% endif %}
{% endset %}


{% set fridayFrequency %}
  {% if data['intermittentEditFriday'] == 'fortnightlyFriday' %}
    Fortnightly
  {% elseif data['intermittentEditFriday'] == 'threeWeeksFriday' %}
    Once every three weeks
  {% elseif data['intermittentEditFriday'] == 'monthFriday' %}
    Once a month
  {% elseif data['intermittentEditFriday'] == 'otherMonthFriday' %}
    Once every other month
  {% elseif data['intermittentEditFriday'] == 'otherFriday' %}
        {{ data['inputOtherFriday'] }}
  {% else %}

  {% endif %}
{% endset %}


{% set closedWeek %}
  {% if data['closedWeek'] == 'monday' %}
        Monday
  {% elif data['closedWeek'] == 'tuesday' %}
    <p> Tuesday </p>
  {% elif data['closedWeek'] == 'wednesday' %}
    <p> Wednesday </p>
  {% elif data['closedWeek'] == 'thursday' %}
    <p> Thursday </p>
  {% elif data['closedWeek'] == 'friday' %}
    <p> Friday </p>
  {% else %}
    None
  {% endif %}
  {% endset %}

  {% if data['closedWeek'] | stringOrNot %}{% set cheese = "stringyCheese" %}{% else %}{% set cheese = "hardCheese" %}{% endif %}
  {% set closedEachWeek %}
    {% if cheese == 'stringyCheese' %}
      {{ closedWeek | safe }}
    {% else %}
      {% for item in data['closedWeek'] %}
      {% if item == 'monday' %}
        <p> Monday</p>
      {% elif item == 'tuesday' %}
        <p> Tuesday </p>
      {% elif item == 'wednesday' %}
        <p> Wednesday </p>
      {% elif item == 'thursday' %}
        <p> Thursday </p>
      {% elif item == 'friday' %}
        <p> Friday </p>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl"><span class="nhsuk-caption-l nhsuk-caption--top">Intermittent closure periods
      </span>{{ contentTitle }}</h1>

      <p>Check your closure details and change any incorrect answers.</p>


      <h2 class="nhsuk-label--m app-heading-m">Your intermittent periods during each month that the practice is closed to patients between the hours of 8.00am and 6.30pm Monday to Friday (except bank holidays)</h2>


      {{ summaryList({
        rows: [
          {
            key: {
              text: "Monday"
            },
            value: {
              html: mondayTime + "<br>" + mondayFrequency
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/intermittent/change-intermittent-closed-monday-time",
                  text: "Change",
                  visuallyHiddenText: "your Monday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Tuesday"
            },
            value: {
              html: tuesdayTime + "<br>" + tuesdayFrequency
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/intermittent/change-intermittent-closed-tuesday-time",
                  text: "Change",
                  visuallyHiddenText: "your Tuesday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Wednesday"
            },
            value: {
              html: wednesdayTime + "<br>" +  wednesdayFrequency
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/intermittent/change-intermittent-closed-wednesday-time",
                  text: "Change",
                  visuallyHiddenText: "your Wednesday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Thursday"
            },
            value: {
              html: thursdayTime + "<br>" +  thursdayFrequency
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/intermittent/change-intermittent-closed-thursday-time",
                  text: "Change",
                  visuallyHiddenText: "your Thursday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Friday"
            },
            value: {
              html: fridayTime + "<br>" + fridayFrequency
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/intermittent/change-intermittent-closed-friday-time",
                  text: "Change",
                  visuallyHiddenText: "your Friday opening hours"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="nhsuk-label--m app-heading-m">Your weekly closure details</h2>

      {{ summaryList({
        rows: [
        {
          key: {
            text: "Which days is the practice closed each week for half a day during core contract hours?"
          },
          value: {
            html: closedEachWeek | placeholder('Monday <br> Tuesday')
          },
          actions: {
            items: [
              {
                href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/intermittent/change-closed-each-week",
                text: "Change",
                visuallyHiddenText: "if the practice is closed each week for half a day during core contract hours"
              }
            ]
          }
        }
    ]
  }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent/intermittent-details-complete" method="get">
        <input type="submit" class="nhsuk-button" value="Save and confirm">
        </input>
      </form>


    </div>
  </div>
{% endblock %}
