{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Does the practice have clear training agreements for safeguarding and records of training retained within the practice for audit requirements?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/information-governance/new-user/mental-capacity-3" method="get">

        {{ radios({
          "idPrefix": "nhs",
          "name": "trainingAgreements",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Information and clinical governance
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-label--l app-heading-l"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

      {{ details({
        "text": "Guidance and regulations for this question",
        "HTML": "
        <p><strong>Notable reference learning from Savile investigation recommendations:</strong></p>

        <ul>
          <li><a href='https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/407209/KL_lessons_learned_report_FINAL.pdf'>Themes and lessons learnt from NHS investigations into matters relating to Jimmy Savile (opens in new window)</a></li>
        </ul>


        <p><strong>Children Act 2004:</strong></p>
        <ul>
          <li><a href='http://www.legislation.gov.uk/ukpga/2004/31/contents'>Contents (opens in new window)</a></li>
          <li><a href='http://www.legislation.gov.uk/ukpga/2004/31/part/1'>Part 1 Children’s Commissioner (opens in new window)</a></li>
          <li><a href='http://www.legislation.gov.uk/ukpga/2004/31/part/2'>Part 2 Children’s services in England (opens in new window)</a></li>
          <li><a href='http://www.legislation.gov.uk/ukpga/2004/31/section/50'>Miscellaneous section 50 (opens in new window)</a></li>
          <li><a href='http://www.legislation.gov.uk/ukpga/2004/31/section/52'>Miscellaneous section 52 (opens in new window)</a></li>
          <li><a href='http://www.legislation.gov.uk/ukpga/2004/31/section/53'>Miscellaneous section 53 (opens in new window)</a></li>
        </ul>
        <p>The Children Act 2004 also covers provision relating to:</p>
        <ul>
          <li>private fostering</li>
          <li>child minding and day care</li>
          <li>adoption review panels</li>
          <li>grants in respect of children and families</li>
          <li>Child Safety Orders</li>
        </ul>

        <p><strong>Royal College of General Practitioners:</strong></p>
        <ul>
          <li><a href='https://www.rcgp.org.uk/clinical-and-research/resources/toolkits/child-safeguarding-toolkit.aspx'>Child Safeguarding Toolkit (opens in new window)</a></li>
          <li><a href='https://www.rcgp.org.uk/clinical-and-research/safeguarding/adult-safeguarding-toolkit.aspx'>Adult Safeguarding Toolkit (opens in new window)</a></li>
        </ul>
        "
      }) }}

    </div>
  </div>
{% endblock %}
