<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Demos" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Submit your electronic declaration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->


                  {{ backLink({
                    "href": "/submit-your-edec/index",
                    "text": "Back"
                  }) }}
      <h1>
        {{ contentTitle }}
      </h1>


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Return user</h3>

      <ul>
       <li><a href="/{{ PROTOTYPEURL }}/demos/premises-equipment/select-a-practice-return">Premises and equipment flow for a return user</a></li>
       <li><a href="/{{ PROTOTYPEURL }}/demos/cqc-registration/select-a-practice-return">CQC registration flow for a return user</a></li>
       <li><a href="/{{ PROTOTYPEURL }}/demos/supporting-info/select-a-practice-return">Supporting information flow for a return user</a></li>
      </ul>


      <h3>New user</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/demos/premises-equipment/select-a-practice-new">Premises and equipment flow for a new user</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/demos/cqc-registration/select-a-practice-new">CQC registration flow for a new user</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/demos/supporting-info/select-a-practice-new">Supporting information flow for a new user</a></li>
      </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
