{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice (Y00001)" %}

{% endif %}
{% set contentTitle = "Change your practice details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Practice details</span>{{ contentTitle }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['practicename'] | placeholder('One Medicare LLP-The Light')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/practice-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: contractType | placeholder('General medical services (GMS)')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/contract-type",
                  text: "Change",
                  visuallyHiddenText: "contract type"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation type"
            },
            value: {
              text: "NHS body"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/organisation-type",
                  text: "Change",
                  visuallyHiddenText: "organisation type"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you changed configuration or structure"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/configuration-structure",
                  text: "Change",
                  visuallyHiddenText: "configuration or structure"
                }
              ]
            }
          },
          {
            key: {
              text: "Contract start date"
            },
            value: {
              text: "14 February 2010"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/contract-start-date",
                  text: "Change",
                  visuallyHiddenText: "contract start date"
                }
              ]
            }
          },
          {
            key: {
              text: "Contract end date"
            },
            value: {
              text: "26 March 2021"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/contract-end-date",
                  text: "Change",
                  visuallyHiddenText: "contract end date"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number for patients"
            },
            value: {
              text: "0113 496 0728"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/patients-phone-number",
                  text: "Change",
                  visuallyHiddenText: "telephone number for patients"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you have a telephone number for non-patients"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/other-phone-number",
                  text: "Change",
                  visuallyHiddenText: "if you have a telephone number for non-patients"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number for non-patients"
            },
            value: {
              text: "0113 496 0848"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/what-is-other-phone-number",
                  text: "Change",
                  visuallyHiddenText: "telephone number for non-patients"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of branches"
            },
            value: {
              text: "3"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-details/return-user/how-many-branches",
                  text: "Change",
                  visuallyHiddenText: "number of branches"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/practice-details/return-user/practice-details-complete-2" method="get">

          <input type="Submit" class="nhsuk-button" id="submit-details" value="Confirm">
        </form>


    </div>
  </div>
{% endblock %}
