{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice (Y00001)" %}

{% endif %}
{% set contentTitle = "You've confirmed your practice details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Practice details</span>{{ contentTitle }}</h1>

      <p>You have 9 more sections to complete before you can submit your electronic declaration.</p>

      <p>You can <a href="/{{ PROTOTYPEURL }}/sections/practice-details/return-user/change-practice-details">change your practice details</a> at any time before submitting your electronic declaration.</p>

      <h2>How to embed your catchment area on your practice website</h2>

      <p> Your catchment area URL is <a href="#">www.embed-link.com</a>.</p>

      <p>You can embed your catchment area URL on your practice website using this link.</p>

      <p>You can find your catchment area URL in this section at any time.</p>

      {{ button({
        "text": "Continue",
        "href": "/submit-your-edec/sections/practice-details/return-user/task-list-practice-details-completed"
      }) }}

    </div>
  </div>
{% endblock %}
