<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Information and clinical governance flow for a return user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/governance-task-list-start">Task list</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/governance-intro">Governance section intro</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/new-governance-details">Check the details you submitted last year</a></li>
      </ul>


      <h3>Changing details</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/access-records">Access records</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/nominated-person">Nominated person</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/data-protection">Data protection act</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/electronic-transmission">Electronic transmission</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/data-protection-officer">Data protection officer</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/valid-nhs-number">Valid NHS number</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/vulnerable-adults">Vulnerable adults</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/information-sharing">Information sharing</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/training-agreements">Training agreements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/mental-capacity-3">Mental capacity act V3</a></li>
      </ul>

      <h3>New question</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/new-question-card">New question card</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/network-contract">Network contract DES</a></li>
      </ul>

      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/governance-details-complete">Governance details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/task-list-governance-section-complete">Task list governance section complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/returns-to-complete-section">User returns to the completed section</a></li>
      </ul>

      <h3>Change details again</h3>


      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-governance-details">Governance details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-access-records">Change access records</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-nominated-person">Change nominated person</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-data-protection">Change data protection act</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-electronic-transmission">Change electronic transmission</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-data-protection-officer">Change data protection officer</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-valid-nhs-number">Change valid NHS number</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-network-contract">Change network contract DES</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-vulnerable-adults">Change vulnerable adults</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-information-sharing">Change information sharing</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-training-agreements">Change training agreements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-mental-capacity-3">Change mental capacity act V3</a></li>
      </ul>

      <h2>Exploration</h2>

      <h3>Network contract</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/network-contract-2">Is your practice signed up to the Network Contract Direct Enhanced Service (DES)?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/pcn-arrangements">Does your PCN have in place suitable data sharing and data processing arrangements?</a></li>
      </ul>


      <h2>Previous</h2>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
