<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Information and clinical governance" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/check-last-year">Check last year</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/new-governance-details">New governance details</a></li>
      </ul>


      <h3>Changing details</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/access-records">Access records</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/nominated-person">Nominated person</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/data-protection">Data protection act</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/electronic-transmission">Electronic transmission</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/data-protection-officer">Data protection officer</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/valid-nhs-number">Valid NHS number</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/network-contract">Network contract DES</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/vulnerable-adults">Vulnerable adults</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/information-sharing">Information sharing</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/training-agreements">Training agreements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/mental-capacity-3">Mental capacity act V3</a></li>
      </ul>

      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/governance-details-complete">Governance details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/change-governance-details">Change governance details</a></li>
      </ul>

      <h2>Exploration</h2>

      <h3>Network contract</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/network-contract-2">Is your practice signed up to the Network Contract Direct Enhanced Service (DES)?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/return-user/pcn-arrangements">Does your PCN have in place suitable data sharing and data processing arrangements?</a></li>
      </ul>


      <h2>Previous</h2>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
