{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "The practice has a procedure to ensure all batch numbers and expiry dates are recorded for all vaccines administered and that all immunisations, vaccinations and consent to immunisations are recorded in the patient record" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/new-user/check-your-answers" method="get">

        {{ radios({
          "idPrefix": "nhs",
          "name": "batchNumbers",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Medication
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-label--l app-heading-l"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

            {{ details({
              "text": "Guidance and regulations for this question",
              "HTML": "
              <p>This question refers to:</p>
              <ul>
                <li>GMS Regulations Schedule 1 Paragraph 4</li>
                <li>PMS subject to local agreement</li>
              </ul>
              "
            }) }}

    </div>
  </div>
{% endblock %}
