<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Training and support (Practice staff) flow for a new user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "/submit-your-edec/sections/practice-staff/training-support/index",
        "text": "Back"
      }) }}

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->



      <h2>Latest</h2>

      <h3>Start</h3>


      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/staff-task-list-start">Task list - not started</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/staff-intro">Practice staff section intro</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/instructions-card">Instructions card</a></li>
      </ul>


      <h3>Questions</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/annual-appraisals">Annual appraisals</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/terms-of-employment">Terms of employment</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/equal-opportunities-2">Equal opportunities</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/prevent-strategy-2">Prevent strategy</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/safeguarding-2">Safeguarding</a></li>
      </ul>

      <h3>Check your answers</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/check-your-answers">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-annual-appraisals">Change annual appraisals</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-terms-of-employment">Change terms of employment</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-equal-opportunities-2">Change equal opportunities</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-prevent-strategy-2">Change Prevent strategy</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-safeguarding-2">Change safeguarding</a></li>
      </ul>


      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/staff-details-complete">Staff details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/task-list-staff-section-complete">Task list - practice staff section complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/returns-to-complete-section">User returns to completed section</a></li>
      </ul>

      <h3>Change answers</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-staff-details">Change staff details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-annual-appraisals-2">Change annual appraisals again</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-terms-of-employment-2">Change terms of employment again</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-equal-opportunities-2-2">Change equal opportunities again</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-prevent-strategy-2-2">Change Prevent strategy again</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/training-support/new-user/change-safeguarding-2-2">Change safeguarding again</a></li>
      </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
