<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Confirm you want to submit your electronic declaration for " + practice %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="app-card">
        <div class="app-card__wrapper">
          <div class="app-card__content">
            <h1 class="app-card__heading nhsuk-heading-l">{{ contentTitle }}</h1>

            <p>By submitting your electronic declaration you are confirming that the answers you’ve given are correct.</p>
            
            <p>You can reopen your submission to make changes at any time until {end date of submission window}.</p>

            <form action="/{{ PROTOTYPEURL }}/submit/submission-confirmation" method="get">

              <input type="submit" class="nhsuk-button" value="Submit your declaration">
              </input>

            </form>
          </div>
        </div>
      </div>


      {{ backLink({
        "href": "/submit-your-edec/task-list/task-list-sections-complete",
        "text": "Back to your task list"
      }) }}


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
