{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}

{% endif %}
{% set contentTitle = "Check and change your catchment area" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1><span class="nhsuk-caption-l nhsuk-caption--top">Catchment area
      </span>{{contentTitle}}</h1>


      <img src="/images/leeds-map-catchment.png" class="catchment-image" alt="Leeds map">


      {{ button({
        "text": "Save and confirm",
        "href": "/submit-your-edec/sections/practice-details/return-user/catchment-area/catchment-details-complete"
      }) }}



    </div>
  </div>
{% endblock %}
