{% set PROTOTYPEURL = "discovery" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "New patterns and components" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% extends 'layout.html' %}
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="">
        <span class="nhsuk-caption-xl nhsuk-caption--top">{{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Navbars and breadcrumbs</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/navbar/with-links">With account, sign out link</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/navbar/with-links-and-whitebar">With whitebar and nav</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/navbar/with-links-and-whitebar-v2">Link inside whitebar and nav</a>
        </li>
      </ul>

      <h2>Times and opening hours</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/time/dropdown">Enter opening hours with multiple dropdowns</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/time/opening-hours">Inline radio and enter opening hours with multiple dropdowns</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/time/dropdown-with-selects">Enter opening hours with multiple dropdowns for time and for am or pm</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/time/select">Plain select drowdowns</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
