{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Check and change your practice staff details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


{% set needsAnalysis %}
  {% if data['needsAnalysis'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set professionalCheck %}
  {% if data['professionalCheck'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set dbsCheck %}
  {% if data['dbsCheck'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set annualAppraisal %}
  {% if data['annualAppraisal'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}


{% set termsEmployment %}
  {% if data['termsEmployment'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}


{% set equalOpportunities %}
  {% if data['equalOpportunities'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set preventStrategy %}
  {% if data['preventStrategy'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set safeguardingPolicy %}
  {% if data['safeguardingPolicy'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}


{% if data['locumsessions'] %}
    {% set locumsessions = data['locumsessions'] + ' sessions' %}
{% else %}
    {% set locumsessions = "" %}
{% endif %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Staff numbers and suitability</span>{{ contentTitle }}</h1>

      {{ summaryList({
        "classes": "nhsuk-summary-list--long",
        rows: [
          {
            key: {
              text: "The practice can evidence and make available the needs analysis and risk assessment it has used for deciding sufficient staff levels. Recognising the need to have the right knowledge, experience, qualifications and skills for the purpose of providing services in the practice and demonstrating capacity to respond to unexpected service changes."
            },
            value: {
              text: needsAnalysis | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-needs-analysis-2",
                  text: "Change",
                  visuallyHiddenText: "if your practice can evidence and make available the needs analysis and risk assessment it has used for deciding sufficient staff levels"
                }
              ]
            }
          },
          {
            key: {
              text: "All health care professionals working in the practice are registered with the relevant professional body, and that this registration is checked on employment (along with satisfactory references) and where applicable annually thereafter, and that health care professionals that are required to revalidate do so and that for GPs, inclusion on the performer list is checked"
            },
            value: {
              text: professionalCheck | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-professional-body-check-2",
                  text: "Change",
                  visuallyHiddenText: "if you confirm your staff checks"
                }
              ]
            }
          },
          {
            key: {
              text: "All relevant staff have been subject to the necessary Disclosure and Barring Service (DBS) checks"
            },
            value: {
              text: dbsCheck | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-dbs-check-2",
                  text: "Change",
                  visuallyHiddenText: "if all relevant staff been subject to the necessary Disclosure and Barring Service (DBS) checks"
                }
              ]
            }
          },
          {
            key: {
              text: "Total number of locum sessions, between 1st of July 2019 through to 30th September 2019, where pay has exceeded the maximum indicative rate of £77.57 per hour"
            },
            value: {
              text: locumsessions | placeholder('5 sessions')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-locum-sessions-2",
                  text: "Change",
                  visuallyHiddenText: "your total number of locum sessions, between 1st of July 2018 through to 30th September 2018, where pay has exceeded the maximum indicative rate of £82.43 per hour"
                }
              ]
            }
          },
          {
            key: {
              text: "All health care professionals employed in the practice have annual appraisals and where applicable personal development plans and that this is aligned to revalidation for doctors and also for registered nurses and midwives (according to requirements issued by the Nursing and Midwifery Council)"
            },
            value: {
              text: annualAppraisal | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-annual-appraisals-2",
                  text: "Change",
                  visuallyHiddenText: "if all health care professionals employed in your practice have annual appraisals and where applicable personal development plans"
                }
              ]
            }
          },
          {
            key: {
              text: "Practice staff have written terms and conditions of employment conforming to or exceeding the statutory minimum"
            },
            value: {
              text: termsEmployment | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-terms-of-employment-2",
                  text: "Change",
                  visuallyHiddenText: "if all practice staff have written terms and conditions of employment conforming to or exceeding the statutory minimum"
                }
              ]
            }
          },
          {
            key: {
              text: "The practice can demonstrate that it is compliant with Equal Opportunities legislation on employment and discrimination (Equality Act 2010)"
            },
            value: {
              text: equalOpportunities | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-equal-opportunities-2-2",
                  text: "Change",
                  visuallyHiddenText: "if your practice can demonstrate that it is compliant with equal opportunities legislation on employment and discrimination"
                }
              ]
            }
          },
          {
            key: {
              text: "Are all healthcare workers employed by the practice familiar with the Government’s Prevent strategy and have all GPs (partners and salaried) participated in Prevent training in the past 3 years?"
            },
            value: {
              text: preventStrategy | placeholder('Yes')

            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-prevent-strategy-2-2",
                  text: "Change",
                  visuallyHiddenText: "if all healthcare workers employed by the practice are familiar with the Government’s Prevent strategy and if all GPs (partners and salaried) have participated in Prevent training in the past 3 years"
                }
              ]
            }
          },
          {
            key: {
              text: "The practice has policies for safeguarding both children and adults"
            },
            value: {
              text: safeguardingPolicy | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-staff/staff-numbers-suitability/new-user/change-safeguarding-2-2",
                  text: "Change",
                  visuallyHiddenText: "if your practice has policies for safeguarding both children and adults"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="/{{ PROTOTYPEURL }}/sections/practice-staff/staff-numbers-suitability/new-user/staff-details-complete" method="get">

          <input type="Submit" class="nhsuk-button" id="submit-details" value="Save and confirm">
        </form>


    </div>
  </div>
{% endblock %}
