{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Total number of locum sessions, between 1st of July 2019 through to 30th September 2019, where pay has exceeded the maximum indicative rate of £77.57 per hour" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/practice-staff/new-user/change-staff-details" method="get">

        {{ input({
          "label": {
            "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Practice staff
            </span>' + contentTitle + '</h1>',
            "isPageHeading": true,
            "classes": "nhsuk-label--l"
          },
          "hint": {
            "text": "Number of locum sessions"
          },
          "id": "inputlocumsessions",
          "name": "locumsessions",
          "classes": "nhsuk-input--width-3"
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
