{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "All relevant staff have been subject to the necessary Disclosure and Barring Service (DBS) checks" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/practice-staff/staff-numbers-suitability/new-user/check-your-answers" method="get">

        {{ radios({
          "idPrefix": "example-divider",
          "name": "dbsCheck",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Practice staff
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-label--l app-heading-l"
            }
          },
          "hint": {
            "text": "The DBS has replaced the Criminal Records Bureau."
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

      {{ details({
        "text": "Guidance and regulations for this question",
        "HTML": "
        <ul>
          <li><a href='https://www.gov.uk/government/organisations/disclosure-and-barring-service/about'>About the Disclosure and Barring Service (DBS) (opens in new window)</a></li>
          <li>See also the CQC myth buster on DBS checks: <a href='http://www.cqc.org.uk/content/nigels-surgery-2-who-should-have-disclosure-and-barring-service-dbs-check'>Who should have a disclosure and barring service (DBS) check? (opens in new window)</a></li>
        </ul>
        "
      }) }}

    </div>
  </div>
{% endblock %}
