<!-- Use this page as the index for your project -->

{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Prototype" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      {{ backLink({
        "href": "../index",
        "text": "Back to home page"
      }) }}

      <h1>
        {{ contentTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Submit your electronic declaration</span>
      </h1>
      <p>
        A prototype for GP practices to:
      </p>
      <ul>
        <li>confirm their details are correct</li>
        <li>submit their electronic declaration</li>
      </ul>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Demos</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/demos/index">Demos</a>
      </ul>

      <h2>Start page</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/start-page/index">Start page</a>
      </ul>

      <h2>Log in</h2>


      <h2>Select a practice</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/select-practice/index">Select a practice</a>
      </ul>

      <h2>Task list</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/task-list/index">Task list</a>
      </ul>

      <h2>Sections</h2>

      <ol>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/index">Practice details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/index">Practice staff</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/index">Practice premises and equipment</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/index">Practice services</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/index">Information about the practice and its procedures</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/information-governance/index">Information and clinical governance</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/cqc-registration/index">Registration with CQC (Care Quality Commission)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/general-practice-it/index">General practice IT</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/catchment-area/index">Catchment area</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/supporting-information/index">Supporting information</a></li>
      </ol>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/submit/index">Submit your electronic declaration</a></li>
      </ul>


      <h2>See your previously submitted electronic declarations</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/previously-submitted/index">Previously submitted electronic declarations</a>
      </ul>

      <h2>Orientation</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/orientation/index">Make sure users know where they are in the service</a></li>
      </ul>

      <h2>Tags</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/tags/index">Tag components</a></li>
      </ul>



    </div>
  </div>
{% endblock %}
