<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice details flow for a new user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      {{ backLink({
        "href": "/submit-your-edec/sections/practice-details/index",
        "text": "Back"
      }) }}

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/task-list-with-sections-3">Task list - not started</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/practice-intro">Practice section intro</a></li>
      </ul>

      <h3>Questions</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/contract-type">What type of contract does your practice have?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/organisation-type">What type of organisation is your practice?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/contract-start-date">What is the first day of your practice contract?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/contract-end-date">What is the last day of your practice contract?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/patients-phone-number">What is your practice telephone number for patients?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/other-phone-number">Does your practice have another telephone number?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/branches">Does your practice have any branches?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/branch-names">Branch names</a></li>
      </ul>


      <h3>Check your answers</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/check-your-answers">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-contract-type">What type of contract does your practice have?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-organisation-type">What type of organisation is your practice?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-contract-start-date">What is the first day of your practice contract?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-contract-end-date">What is the last day of your practice contract?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-patients-phone-number">What is your practice telephone number for patients?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-other-phone-number">Does your practice have another telephone number?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-branches">Does your practice have any branches?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-branch-names">Branch names</a></li>
      </ul>



      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/practice-details-complete-2">Section complete confirmation</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-practice-details">Change your practice details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/task-list-practice-details-completed">Task list with practice details complete</a></li>
      </ul>

      <h3>Change your answers again</h3>


      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-practice-details">Change practice details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-contract-type-2">What type of contract does your practice have?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-organisation-type-2">What type of organisation is your practice?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-contract-start-date-2">What is the first day of your practice contract?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-contract-end-date-2">What is the last day of your practice contract?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-patients-phone-number-2">What is your practice telephone number for patients?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-other-phone-number-2">Does your practice have another telephone number?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-branches-2">Does your practice have any branches?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/change-branch-names-2">Branch names</a></li>
      </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
