<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Select a GP practice" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Submit your electronic declaration
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <h1>
        {{ contentTitle }}
      </h1>


      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <ul>
        <li><a href="/submit-your-edec/select-practice/select-a-practice-3">Select a GP practice - User has not started completing their eDec for any practices or sections</a></li>
        <li><a href="/submit-your-edec/select-practice/select-a-practice-3-started">Select a GP practice - User has started the Nye Practice</a></li>
        <li><a href="/submit-your-edec/select-practice/select-practice-ready-submit">Select a GP practice - Nye Practice ready to submit</a></li>
        <li><a href="/submit-your-edec/select-practice/select-practice-nye-complete">Select a GP practice - Nye Practice submitted</a></li>
      </ul>

      <h2>Exploration</h2>

      <ul>
        <li><a href="/submit-your-edec/select-practice/select-a-practice-2">Select a GP practice - added submission window close date</a></li>
        <li><a href="/submit-your-edec/select-practice/select-a-practice-inset">Select a GP practice - added submission window close date (inset text)</a></li>
      </ul>

      <h2>Previous</h2>

      <ul>
        <li><a href="/submit-your-edec/select-practice/your-practice-2">Your GP practice - user has only 1 GP practice V2</a></li>
        <li><a href="/submit-your-edec/select-practice/your-practice">Your GP practice - user has only 1 GP practice</a></li>
        <li><a href="/submit-your-edec/select-practice/select-a-practice">Select a GP practice - user has more than 1 GP practice</a></li>
        <li><a href="/submit-your-edec/branch-practice/select-a-branch-practice">Select a practice branch</a></li>
        <li><a href="/submit-your-edec/gp-surgeries/your-gp-surgeries">Your GP surgeries</a></li>
        <li><a href="/submit-your-edec/select-surgery/select-a-surgery">Select a GP surgery</a></li>
      </ul>

            {{ backLink({
              "href": "/submit-your-edec/index",
              "text": "Back"
            }) }}

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
