{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Check your opening hours and change any times that need updating" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
 // remove all :00 from times so that 9:00am becomes 9am but the raw data stays the same
  $('dd:contains(":00")').each(function(){
      $(this).html($(this).html().split(":00").join(""));
  });
</script>
{% endblock %}
<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">Your GP practice opening hours</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <div class="nhsuk-panel-with-label nhsuk-u-margin-top-9">
        <h2 class="nhsuk-panel-with-label__label">Your opening hours</h2>
        {{ summaryList({
          rows: [
            {
              key: {
                text: "Monday"
              },
              value: {
                html: data['mondayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-monday",
                    text: "Change",
                    visuallyHiddenText: "your Monday opening hours"
                  }
                ]
              }
            },
            {
              key: {
                text: "Tuesday"
              },
              value: {
                html: data['tuesdayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-tuesday",
                    text: "Change",
                    visuallyHiddenText: "your Tuesday opening hours"
                  }
                ]
              }
            },
            {
              key: {
                text: "Wednesday"
              },
              value: {
                html: data['wednesdayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-wednesday",
                    text: "Change",
                    visuallyHiddenText: "your Wednesday opening hours"
                  }
                ]
              }
            },
            {
              key: {
                text: "Thursday"
              },
              value: {
                html: data['thursdayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-thursday",
                    text: "Change",
                    visuallyHiddenText: "your Thursday opening hours"
                  }
                ]
              }
            },
            {
              key: {
                text: "Friday"
              },
              value: {
                html: data['fridayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-friday",
                    text: "Change",
                    visuallyHiddenText: "your Friday opening hours"
                  }
                ]
              }
            },
            {
              key: {
                text: "Saturday"
              },
              value: {
                html: data['saturdayOpeningHours'] | placeholder('Closed')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-saturday",
                    text: "Change",
                    visuallyHiddenText: "your Saturday opening hours"
                  }
                ]
              }
            },
            {
              key: {
                text: "Sunday"
              },
              value: {
                html: data['sundayOpeningHours'] | placeholder('Closed')
              },
              actions: {
                items: [
                  {
                    href: "/submit-your-edec/sections/opening-hours/v2/change-sunday",
                    text: "Change",
                    visuallyHiddenText: "your Sunday opening hours"
                  }
                ]
              }
            }
          ]
        }) }}

      </div>
      <form action="/{{ PROTOTYPEURL }}/sections/opening-hours/v2/" method="get">
      <h2 class="nhsuk-heading-m">Confirm your opening times are correct</h2>
        <input type="submit" class="nhsuk-button" value="Save and continue">
        </input>

      </form>
    </div>
  </div>
{% endblock %}
