<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Medication (Information about the practice and its procedures) flow for a return user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/procedures-task-list-start">Task list</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/procedures-intro">Medication section intro</a></li>
      </ul>


      <h3>Check and change details</h3>


      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/new-medication-details">Check your medication details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/medicines-act">Medicines Act</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/vaccine-storage">Vaccine storage</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/batch-numbers">Batch numbers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/vaccine-fridge">Vaccine fridge</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/administer-vaccine">Administer vaccines</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/controlled-drugs">Controlled drugs</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/controlled-drugs-regulations-3">Controlled drugs regulation V3</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/terms-of-service-3">Terms of service V3</a></li>
      </ul>


      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/procedures-details-complete">Medication details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/task-list-procedures-section-complete">Task list medication section complete</a></li>
      </ul>

      <h3>Change details</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-medication-details">Change medication details TBC</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-medicines-act">Change Medicines Act</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-vaccine-storage">Change Vaccine storage</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-batch-numbers">Change Batch numbers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-vaccine-fridge">Change Vaccine fridge</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-administer-vaccine">Change Administer vaccines</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-controlled-drugs">Change Controlled drugs</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-controlled-drugs-regulations-3">Change Controlled drugs regulation V3</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/medication/return-user/change-terms-of-service-3">Change Terms of service V3</a></li>
      </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
