{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Tell us about how you work with your patient participation group (PPG)" %}
{% set title = contentTitle + " - " + serviceName %}
{% set question1 = "Can your practice evidence that you have engaged with your patient participation group (PPG) throughout the year?" %}
{% set question2 = "Can your practice show that the PPG is properly representative of its practice population or that you have made and continue to make efforts to ensure it is representative of its local population?" %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Communicating with patients</span>{{ contentTitle }}</h1>

      <form action="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/return-user/new-premises-details" method="get">

        {{ radios({
          "idPrefix": "nhs",
          "name": "reviewLeaflet",
          "fieldset": {
            "legend": {
              "text": question1,
              "classes": "nhsuk-label--m app-heading-m"
            }
          },
          "hint": {
            "text": "This includes making available such feedback to the practice population including actions and reports, including where you have acted on suggestions for improvement."
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        {{ radios({
          "idPrefix": "nhs",
          "name": "availableLeaflet",
          "fieldset": {
            "legend": {
              "text": question2,
              "classes": "nhsuk-label--m app-heading-m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}


        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
