<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice staff flow for a return user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "/submit-your-edec/sections/practice-staff/index",
        "text": "Back"
      }) }}

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->



      <h2>Latest</h2>

      <h3>Start</h3>


      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/task-list-with-sections-3">Task list - not started</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/check-last-year">Check the answers you submitted last year</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/new-staff-details">Tell us your new staff details</a></li>
      </ul>


      <h3>Changing details</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/needs-analysis">Needs analysis</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/confirm-professional-body-check">Professional body check</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/dbs-check">DBS check</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/locum-sessions">Locum sessions</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/annual-appraisals">Annual appraisals</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/terms-of-employment">Terms of employment</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/equal-opportunities-2">Equal opportunities</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/prevent-strategy-2">Prevent strategy</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/safeguarding-2">Safeguarding</a></li>

      </ul>

      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/staff-details-complete">Staff details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/change-staff-details">Change staff details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/task-list-staff-details-completed">Task list - practice staff section complete</a></li>
      </ul>

      <h2>Exploration</h2>

      <h3>Professional body question</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/professional-body-check">Professional body check</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/professional-body">Splitting the question up into multiple questions</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/confirm-professional-body-check">Putting the question in a bullet list</a></li>
      </ul>


      <h2>Previous</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/risk-assessment">Risk assessment</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/check-professional-body">Check professional body</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/revalidation">Revalidation</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/annual-appraisal">Annual appraisal</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/any-dbs-check">DBS check 1</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/are-they-dbs-checked">DBS check 2</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/locum-session">Locum session</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/how-many-locum-session">How many locum session</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/personal-development-plan">Personal development plan</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/plan-revalidation">Personal development plan revalidation</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/statutory-minimum">Statutory minimum</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/equal-opportunities">Equal opportunities</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/prevent-strategy">Prevent strategy</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/prevent-training">Prevent training</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-staff/return-user/safeguarding">Safeguarding</a></li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
