{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Check your closure details and extended opening hours details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
 // remove all :00 from times so that 9:00am becomes 9am but the raw data stays the same
  $('dd:contains(":00")').each(function(){
      $(this).html($(this).html().split(":00").join(""));
  });
  $('dd:contains(".00")').each(function(){
      $(this).html($(this).html().split(".00").join(""));
  });


    $( "input[name='extendHours']" ).on( "click", function() {
    if ( $( "input[name='extendHours']:checked" ).val() === "no") {
      console.log( "closed" );
      $( ".app-opening-time__container" ).addClass("app-u-display--none ")
      $('.app-opening-time__container' ).find('input, textarea, button, select').attr('disabled', true);
    } else {
      console.log( "open" );
      $( ".app-opening-time__container" ).removeClass("app-u-display--none ")

      // Find inputs that are now visible and make them disabled.
      $('.app-opening-time__container' ).find('input:visible, textarea:visible, button:visible, select:visible').attr('disabled', false);
    }
  });

  // This kills any row that is empty
  $('div.nhsuk-summary-list__row').each(function() {
           if ($(this).text().trim() === "") {
                     $(this).css('display','none');
           }
  });
</script>
{% endblock %}


{% set extendHours %}
  {% if data['extendHours'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}


{% if data['extendHours'] %}
    {% if data['extendHours'] == "yes" %}
      {% set extendHoursRow = "show" %}
    {% else %}
      {% set extendHoursRow = "hide" %}
    {% endif %}
{% else %}
    {% set extendHoursRow = "show" %}
{% endif %}


{% set numberExtended %}
  {% if data['numberExtended'] %}
   {{ data['numberExtended'] }}
  {% endif %}
{% endset %}




{% set extendedFunding %}
  {% if data['extendedFunding'] == 'networkDES' %}
    Network Directed Enhanced Service (DES)
  {% elseif data['extendedFunding'] == 'incentive' %}
    Incentive Scheme
  {% elseif data['extendedFunding'] == 'pmsgrowth' %}
    Personal Medical Services (PMS) growth
  {% else %}
    {{ data['funding'] }}
  {% endif %}
{% endset %}

{% set closedWeek %}
  {% if data['closedWeek'] == 'monday' %}
        On Monday
  {% elif data['closedWeek'] == 'tuesday' %}
    <p> On Tuesday </p>
  {% elif data['closedWeek'] == 'wednesday' %}
    <p> On Wednesday </p>
  {% elif data['closedWeek'] == 'thursday' %}
    <p> On Thursday </p>
  {% elif data['closedWeek'] == 'friday' %}
    <p> On Friday </p>
  {% else %}
    This does not apply to my practice
  {% endif %}
  {% endset %}

  {% if data['closedWeek'] | stringOrNot %}{% set cheese = "stringyCheese" %}{% else %}{% set cheese = "hardCheese" %}{% endif %}
  {% set closedEachWeek %}
    {% if cheese == 'stringyCheese' %}
      {{ closedWeek | safe }}
    {% else %}
      {% for item in data['closedWeek'] %}
      {% if item == 'monday' %}
        <p>On Monday</p>
      {% elif item == 'tuesday' %}
        <p> On Tuesday </p>
      {% elif item == 'wednesday' %}
        <p> On Wednesday </p>
      {% elif item == 'thursday' %}
        <p> On Thursday </p>
      {% elif item == 'friday' %}
        <p> On Friday </p>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}


  {% set contractExtend %}
    {% if (data['extendedEnd-day']) and (data['extendedEnd-month']) and (data['extendedEnd-year']) %}
      {{ data['extendedEnd-day'] + " " + data['extendedEnd-month'] | monthToWord + " " + data['extendedEnd-year'] }}
    {% else %}
      18 November 2020
    {% endif %}
  {% endset %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl"><span class="nhsuk-caption-l nhsuk-caption--top">Practice services
      </span>{{ contentTitle }}</h1>

      {{ summaryList({
        "classes": "nhsuk-summary-list--long",
        rows: [
        {
          key: {
            text: "Is the practice closed each week for half a day during core contract hours?"
          },
          value: {
            html: closedEachWeek | placeholder('On Monday <br> On Tuesday')
          },
          actions: {
            items: [
              {
                href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/change-closed-each-week",
                text: "Change",
                visuallyHiddenText: "if the practice is closed each week for half a day during core contract hours"
              }
            ]
          }
        },
        {
          key: {
            text: "Does the practice have any extended opening hours where the practice provides outside of core contract hours?"
          },
          value: {
            text: extendHours | placeholder('Yes')
          },
          actions: {
            items: [
              {
                href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/change-extended-hours-per-week",
                text: "Change",
                visuallyHiddenText: "if the practice has any extended opening hours where the practice provides outside of core contract hours"
              }
            ]
          }
        },
          {
            key: {
              text: "Total number of extended opening hours per week not within 8am and 6:30pm"
            },
            value: {
              text: numberExtended | placeholder('14')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/change-number-of-extended-hours",
                  text: "Change",
                  visuallyHiddenText: "your total number of extended opening hours per week not within 8am and 6:30pm"
                }
              ]
            }
          } if extendHoursRow == 'show',
          {
            key: {
              text: "Funding mechanism for the practice's extended opening hours"
            },
            value: {
              text: extendedFunding | placeholder('Network Directed Enhanced Service (DES)')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/change-extended-hours-funding",
                  text: "Change",
                  visuallyHiddenText: "your funding mechanism for the practice's extended opening hours"
                }
              ]
            }
          } if extendHoursRow == 'show',
          {
            key: {
              text: "Contract/agreement end date for the practice's extended opening hours"
            },
            value: {
              text: contractExtend | placeholder('12 November 2020')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/new-user/change-extended-hours-contract",
                  text: "Change",
                  visuallyHiddenText: "your contract/agreement end date for the practice's extended opening hours"
                }
              ]
            }
          } if extendHoursRow == 'show'
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/is-branch-same" method="get">
        <input type="submit" class="nhsuk-button" value="Save and continue">
        </input>
      </form>


    </div>
  </div>
{% endblock %}
