{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Check your practice closure details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
 // remove all :00 from times so that 9:00am becomes 9am but the raw data stays the same
  $('dd:contains(":00")').each(function(){
      $(this).html($(this).html().split(":00").join(""));
  });
  $('dd:contains(".00")').each(function(){
      $(this).html($(this).html().split(".00").join(""));
  });
</script>
{% endblock %}




{% set otherThursday %}
  {% if data['inputOtherThursday'] %}
    {{ data['inputOtherThursday'] }}
  {% endif %}
{% endset %}

{% set thursdayFrequency %}
  {% if data['intermittentThursday'] == 'fortnightlyThursday' %}
    Every fortnight
  {% elseif data['intermittentThursday'] == 'threeWeeksThursday' %}
    Once every three weeks
  {% elseif data['intermittentThursday'] == 'monthThursday' %}
    Once a month
  {% elseif data['intermittentThursday'] == 'otherMonthThursday' %}
    Once every other month
  {% elseif data['intermittentThursday'] == 'otherThursday' %}
        {{ data['inputOtherThursday'] }}
  {% else %}

  {% endif %}
{% endset %}



{% set otherFriday %}
  {% if data['inputOtherFriday'] %}
    {{ data['inputOtherFriday'] }}
  {% endif %}
{% endset %}


{% set fridayFrequency %}
  {% if data['intermittentFriday'] == 'fortnightlyFriday' %}
    Every fortnight
  {% elseif data['intermittentFriday'] == 'threeWeeksFriday' %}
    Once every three weeks
  {% elseif data['intermittentFriday'] == 'monthFriday' %}
    Once a month
  {% elseif data['intermittentFriday'] == 'otherMonthFriday' %}
    Once every other month
  {% elseif data['intermittentFriday'] == 'otherFriday' %}
        {{ data['inputOtherFriday'] }}
  {% else %}

  {% endif %}
{% endset %}




<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl"><span class="nhsuk-caption-l nhsuk-caption--top">Practice services
      </span>{{ contentTitle }}</h1>

      <h2 class="nhsuk-heading-m">Is the practice closed each week for half a day during core contract hours?</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Monday"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/return-user/intermittent-closed-monday-time",
                  text: "Change",
                  visuallyHiddenText: "your Monday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Tuesday"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/return-user/intermittent-closed-tuesday-time",
                  text: "Change",
                  visuallyHiddenText: "your Tuesday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Wednesday"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/return-user/intermittent-closed-wednesday-time",
                  text: "Change",
                  visuallyHiddenText: "your Wednesday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Thursday"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/return-user/intermittent-closed-thursday-time",
                  text: "Change",
                  visuallyHiddenText: "your Thursday opening hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Friday"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/practice-services/opening-hours/return-user/intermittent-closed-friday-time",
                  text: "Change",
                  visuallyHiddenText: "your Friday opening hours"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/v2/" method="get">
        <input type="submit" class="nhsuk-button" value="Save and continue">
        </input>
      </form>


    </div>
  </div>
{% endblock %}
