{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Is the practice closed each week for half a day during core contract hours?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
  $( "#week-7" ).on( "click", function() {
  if ( $( "#week-7" ).is(':checked') ){
    console.log( "closed" );
    $( "#week-1" ).attr('disabled', true);
    $( "#week-2" ).attr('disabled', true);
    $( "#week-3" ).attr('disabled', true);
    $( "#week-4" ).attr('disabled', true);
    $( "#week-5" ).attr('disabled', true);

  } else {
    $( "#week-1" ).attr('disabled', false);
    $( "#week-2" ).attr('disabled', false);
    $( "#week-3" ).attr('disabled', false);
    $( "#week-4" ).attr('disabled', false);
    $( "#week-5" ).attr('disabled', false);

  }
});
</script>
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <form action="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/extended-hours-per-week" method="get">
        {{ checkboxesDivider({
          "idPrefix": "week",
          "name": "closedWeek",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Practice services
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "hint": {
          "text": "Select which days your practice is closed each week for half a day during core contract hours"
        },
          "items": [
            {
              "value": "monday",
              "text": "Monday"
            },
            {
              "value": "tuesday",
              "text": "Tuesday"
            },
            {
              "value": "wednesday",
              "text": "Wednesday"
            },
            {
              "value": "thursday",
              "text": "Thursday"
            },
            {
              "value": "friday",
              "text": "Friday"
            },
            {
              "divider": "or"
            },
            {
              "value": "noneAbove",
              "text": "This does not apply to my practice"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
