<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice services opening hours flow for new user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>

      <h3>Reception opening hours (4A)</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-monday">Monday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-tuesday">Tuesday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-wednesday">Wednesday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-thursday">Thursday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-friday">Friday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-saturday">Saturday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-sunday">Sunday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-reception-answers">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-monday">Change Monday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-tuesday">Change Tuesday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-wednesday">Change Wednesday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-thursday">Change Thursday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-friday">Change Friday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-saturday">Change Saturday reception opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception-sunday">Change Sunday reception opening hours</a></li>
      </ul>


      <h3>Phone opening hours (4B)</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/monday-phone">Monday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/tuesday-phone">Tuesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/wednesday-phone">Wednesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/thursday-phone">Thursday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/friday-phone">Friday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/saturday-phone">Saturday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/sunday-phone">Sunday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-phone-answers">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-monday-phone">Change Monday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-tuesday-phone">Change Tuesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-wednesday-phone">Change Wednesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-thursday-phone">Change Thursday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-friday-phone">Change Friday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-saturday-phone">Change Saturday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-sunday-phone">Change Sunday phone opening hours</a></li>
      </ul>

      <h4>Regular periods practice is closed</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular-periods">Regular periods closed (4C)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/which-days-regular-periods">Which days are there regular periods during each week that the practice is closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular-periods-closed-monday">Monday regular periods where practice is closed (4D)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular-periods-closed-tuesday">Tuesday regular periods where practice is closed (4D)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular-periods-closed-wednesday">Wednesday regular periods where practice is closed (4D)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular-periods-closed-thursday">Thursday regular periods where practice is closed (4D)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular-periods-closed-friday">Friday regular periods where practice is closed (4D)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-regular-periods">Check your answers</a></li>
      </ul>

      <h4>Intermittent periods practice is closed</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-periods">Intermittent periods closed (4E)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/which-days-intermittent-closure">Which days are there intermittent periods of closure</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-monday-time">Monday intermittent closure - time (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-monday-frequency">Monday intermittent closure - frequency (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-tuesday-time">Tuesday intermittent closure - time (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-tuesday-frequency">Tuesday intermittent closure - frequency (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-tuesday-time">Wednesday intermittent closure - time (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-tuesday-frequency">Wednesday intermittent closure - frequency (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-thursday-time">Thursday intermittent closure - time (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-thursday-frequency">Thursday intermittent closure - frequency (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-friday-time">Friday intermittent closure - time (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent-closed-friday-frequency">Friday intermittent closure - frequency (4F)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-intermittent-periods">Check your answers</a></li>
      </ul>

      <h4>Closed each week</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/closed-each-week">Closed each week (4fb)</a></li>
      </ul>

      <h4>Extended opening hours</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/extended-hours-per-week">Do you have extended opening hours per week</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/number-of-extended-hours">Number of extended hours (4G)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/extended-hours-funding">Extended opening hours funding mechanism (4H)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/extended-hours-contract">Extended opening hours contract end date (4I)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-extended-hours">Check your answers</a></li>
      </ul>

      <h4>Branch reception opening hours (10C)</h4>

      <p>Applies to users who in the practice details section have told us they have branch practices.</p>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/is-branch-same">Are your branch opening hours the same as your practice</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/which-days-branch">Branch which days</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-monday">Branch monday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-tuesday">Branch tuesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-wednesday">Branch wednesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-thursday">Branch thursday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-friday">Branch friday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-saturday">Branch saturday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-sunday">Branch sunday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-branch-hours">Check your answers (if user has more than 1 branch, the button should say 'Save and continue' which would take them to 'Are your { branch 2 } hours the same as your practice hours)'</a></li>
      </ul>

      <h4>Branch phone opening hours (10C)</h4>

      <p>Applies to users who in the practice details section have told us they have branch practices.</p>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
