]{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "You must enable cookies to use this site" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}


{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <p>We put small files called cookies onto your device to keep your visit secure. 
        <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/">Find out more or manage your cookie settings</a>.</p>

</p>

    </div>
  </div>
{% endblock %}
