]{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Sorry, we could not find that page" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}


{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <p>You may have typed or pasted the web address incorrectly.</p>
      <p>  <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/">Go to the log in page</a>.</p>
      <p>If the web address is correct or you selected a link or button, contact your clinical commissioning group (CCG) to let them know there’s a problem with this page.
</p>


    </div>
  </div>
{% endblock %}
