{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Submit your electronic declaration for " + practice %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] }}</p>
  </div>
</div>

{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


                  {{ backLink({
                    "href": "/submit-your-edec/a-practice/a-practice",
                    "text": "Back to " + practice
                  }) }}


            <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

            <p>Confirm your details are correct to submit your electronic declaration for {{ practice }}.</p>

            <h2>Sections to complete</h2>


            <ul class="app-task-list">
              <li>
                <ul class="app-task-list__items--no-padding">
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
                      1. Practice details
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                      2. Practice staff
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                      3. Practice premises and equipment
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                      4. Practice services
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                      5. Information about the practice and its procedures
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                      6. Information and clinical governance
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                      7. Registration with CQC (Care Quality Commission)
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                      8. General practice IT
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                      9. Catchment area
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                  <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                      10. Supporting information
                    </a>
                    <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
                  </li>
                </ul>
              </li>
            </ul>



                        <h2>Submit</h2>

                        <p>You’ve completed all the sections. You can now submit your electronic declaration.</p>

                        {{ button({
                          "text": "Submit your declaration",
                          "href": "#"
                        }) }}




    </div>
  </div>
{% endblock %}
