<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Communicating with patients (Information about the practice and its procedures) flow for a new user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/procedures-task-list-start">Task list</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/procedures-intro">Procedures section intro</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/instructions-card">Instructions card</a></li>
      </ul>


      <h3>Questions</h3>


            <h4>Communicating with patients</h4>

            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/practice-leaflet">Do you have a practice leaflet?</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/reviews-leaflet">Reviews leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/available-leaflet">Leaflet made available</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/complaints-policy">Complaints policy</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/refused-application">Refused application</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/removing-patients">Removing patients</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/engage-ppg">PPG engagement</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/representative-ppg">Representative PPG</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/call-recall-2">Call/recall activities V2</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/whistleblowing">Whistleblowing</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/whistleblowing-lead">Whistleblowing lead</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/advertising-provision">Advertising provision</a></li>
            </ul>



            <h3>Check and change your answers</h3>

            <h4>Check your answers</h4>

            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/check-your-answers">Check your answers</a></li>
            </ul>

            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/practice-leaflet">Do you have a practice leaflet?</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/reviews-leaflet">Reviews leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/available-leaflet">Leaflet made available</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/complaints-policy">Complaints policy</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/refused-application">Refused application</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/removing-patients">Removing patients</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/engage-ppg">PPG engagement</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/representative-ppg">Representative PPG</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/call-recall-2">Call/recall activities V2</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/whistleblowing">Whistleblowing</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/whistleblowing-lead">Whistleblowing lead</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/advertising-provision">Advertising provision</a></li>
            </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
