<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Communicating with patients (Information about the practice and its procedures) flow for a new user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/procedures-task-list-start">Task list</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/procedures-intro">Communicating with patients section intro</a></li>
      </ul>


      <h3>Questions</h3>


            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/practice-leaflet">Practice leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/reviews-leaflet">Reviews leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/available-leaflet">Leaflet made available</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/complaints-policy">Complaints policy</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/refused-application">Refused application</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/removing-patients">Removing patients</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/engage-ppg">PPG engagement</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/representative-ppg">Representative PPG</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/call-recall-2">Call/recall activities V2</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/whistleblowing">Whistleblowing</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/whistleblowing-lead">Whistleblowing lead</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/advertising-provision">Advertising provision</a></li>
            </ul>




            <h4>Check your answers</h4>

            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/check-your-answers">Check your answers</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-practice-leaflet">Practice leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-reviews-leaflet">Reviews leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-available-leaflet">Leaflet made available</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-complaints-policy">Complaints policy</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-refused-application">Refused application</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-removing-patients">Removing patients</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-engage-ppg">PPG engagement</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-representative-ppg">Representative PPG</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-call-recall-2">Call/recall activities V2</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-whistleblowing">Whistleblowing</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-whistleblowing-lead">Whistleblowing lead</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-advertising-provision">Advertising provision</a></li>
            </ul>

            <h4>Section complete</h4>

            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/procedures-details-complete">Communicating with patients details complete</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/task-list-procedures-section-complete">Task list communicating with patients  section complete</a></li>
            </ul>


            <h4>Check and change your answers</h4>

            <ul>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-procedures-details">Change communicating with patients details</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-practice-leaflet-2">Practice leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-reviews-leaflet-2">Reviews leaflet</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-available-leaflet-2">Leaflet made available</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-complaints-policy-2">Complaints policy</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-refused-application-2">Refused application</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-removing-patients-2">Removing patients</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-engage-ppg-2">PPG engagement</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-representative-ppg-2">Representative PPG</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-call-recall-2-2">Call/recall activities V2</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-whistleblowing-2">Whistleblowing</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-whistleblowing-lead-2">Whistleblowing lead</a></li>
              <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/communicating-with-patients/new-user/change-advertising-provision-2">Advertising provision</a></li>
            </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
