{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% if data['surgery'] %}
    {% set surgery = data['surgery'] %}
  {% else %}
    {% set surgery = "One Medicare LLP-The Light" %}
{% endif %}
{% set contentTitle = "Submit your eDeclaration for " + surgery %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ surgery }}</p>
  </div>
</div>

{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


            {{ backLink({
              "href": "/submit-your-edec/demos/gp-practice-name/your-gp-surgeries",
              "text": "Back to your GP surgeries"
            }) }}

      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <p>Confirm your GP practice details are correct to submit your eDeclaration.</p>


      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Your practice details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a href="/{{ PROTOTYPEURL }}/demos/gp-practice-name/check-last-year" class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
                Practice details
              </a>
              <strong class="tag-not-started" id="eligibility-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Location details
              </a>
              <strong class="tag-not-started" id="read-declaration-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Staff details
              </a>
              <strong class="tag-not-started" id="read-declaration-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Catchment area
              </a>
              <strong class="tag-not-started" id="read-declaration-completed">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Your services
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Services details
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Opening hours
              </a>
              <strong class="tag-not-started" id="contact-details-completed">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Your procedures
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Procedures details
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Governance details
              </a>
              <strong class="tag-not-started" id="contact-details-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                GPIT details
              </a>
              <strong class="tag-not-started" id="contact-details-completed">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Supporting information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Supporting information
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not started</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Submit
          </h2>
          <ul class="app-task-list__items">
            <li>
              <p>You must complete all the sections before you can submit your eDeclaration</p>
            </li>
          </ul>
        </li>

    </div>
  </div>
{% endblock %}
