{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Check the CQC registration details you submitted last year" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Registration with CQC (Care Quality Commission)</span>{{ contentTitle }}</h1>


      {{ summaryList({
        "classes": "nhsuk-summary-list--long",
        rows: [
          {
            key: {
              text: "Does your CQC registration accurately reflect the regulated activities you provide, and is each location where you provide them listed?"
            },
            value: {
              text: "Yes"
            }
          },
          {
            key: {
              text: "Have you notified CQC of any change relating to regulated persons and any of the events listed in the regulations, put in an application if required and are in receipt of an up to date registration certificate?"
            },
            value: {
              text: "Yes"
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/cqc-registration/return-user/check-last-year" method="post">
        {{ radios({
          "idPrefix": "sections",
          "name": "cqcDetails",
          "fieldset": {
            "legend": {
              "text": "Are these CQC registration details correct?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes, they're correct"
            },
            {
              "value": "no",
              "text": "No, I need to change them"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
