{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Tell us your new CQC registration details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


{% set regulatedActivities %}
  {% if data['regulatedActivities'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set notifiedCqc %}
  {% if data['notifiedCqc'] == 'yes' %}
    Yes
  {% elseif data['notifiedCqc'] == 'no' %}
    No
  {% else %}
    This does not apply to my practice
  {% endif %}
{% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Registration with CQC (Care Quality Commission)</span>{{ contentTitle }}</h1>

      <p>Check your CQC registration details and change any incorrect details.</p>


      {{ summaryList({
        "classes": "nhsuk-summary-list--long",
        rows: [
          {
            key: {
              text: "Does your CQC registration accurately reflect the regulated activities you provide, and is each location where you provide them listed?"
            },
            value: {
              text: regulatedActivities | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/cqc-registration/return-user/regulated-activities",
                  text: "Change",
                  visuallyHiddenText: "if your CQC registration accurately reflect the regulated activities you provide, and is each location where you provide them listed"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you notified CQC of any change relating to regulated persons and any of the events listed in the regulations, put in an application if required and are in receipt of an up to date registration certificate?"
            },
            value: {
              text: notifiedCqc | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/cqc-registration/return-user/notified-cqc",
                  text: "Change",
                  visuallyHiddenText: "if you have notified CQC of any change relating to regulated persons and any of the events listed in the regulations, put in an application if required and are in receipt of an up to date registration certificate"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/cqc-registration/return-user/cqc-details-complete" method="get">

        <input type="Submit" class="nhsuk-button" id="submit-details" value="Save and confirm">
        </form>


    </div>
  </div>
{% endblock %}
