{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Update your opening hours" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script src="/js/accessible-autocomplete.min.js" type="text/javascript"></script>
<script src="/js/autocomplete-time.js" type="text/javascript"></script>
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">Your GP practice opening hours</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <form action="#" method="get">
        {{ radios({
          "idPrefix": "gov",
          "name": "gov",
          "classes": "nhsuk-radios--inline",
          "fieldset": {
            "legend": {
              "text": "Is your practice open on Monday?",
              "isPageHeading": false,
              "classes": "nhsuk-fieldset__legend--s"
            }
          },
          "items": [
            {
              "value": "open",
              "text": "Yes",
              "checked": "True"
            },
            {
              "value": "closed",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
