<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice premises and equipment" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      {{ backLink({
        "href": "/submit-your-edec/sections/premises-equipment/index",
        "text": "Back"
      }) }}
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/task-list-with-sections-3">Task list</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/premises-intro-reveal">Premises section intro</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/instructions-card">Instructions card</a></li>
      </ul>

      <h3>Questions</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/suitable-premises">Suitable premises</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/nhs-england">NHS England</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/infection-control-2">Infection control</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/fire-safety">Fire safety</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/wheelchair">Wheelchair</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/wheelchair-arrangements">Wheelchair arrangements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/wheelchair-other">Wheelchair other</a></li>
      </ul>

      <h3>Check your answers</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/check-your-answers">Check your answers</a></li>
      </ul>

      <h3>Change your answers</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-suitable-premises">Change Suitable premises</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-nhs-england">Change NHS England</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-infection-control-2">Change Infection control</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-fire-safety">Change Fire safety</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-wheelchair">Change Wheelchair</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-wheelchair-arrangements">Change Wheelchair arrangements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-wheelchair-other">Change Wheelchair other</a></li>
      </ul>


      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/change-your-answers">Change your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/premises-equipment/new-user/task-list-premises-details-completed">Task list premises details complete</a></li>
      </ul>

      <h2>Previous</h2>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
