{% set PROTOTYPEURL = "examples" %}
{% set serviceName = "Contact preferences" %}
{% set contentTitle = "Check this data" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>
      <ul class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Check before you start
          </h2>
          <ul class="app-task-list__items--no-padding">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
                Check eligibility
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Done</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Read declaration
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Prepare application
          </h2>
          <ul class="app-task-list__items--no-padding">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Company information
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Your contact details
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                List convictions
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Provide financial evidence
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="medical-information-completed">
                Give medical information
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            Apply
          </h2>
          <ul class="app-task-list__items--no-padding">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#">
                Submit and pay
              </a>
            </li>
          </ul>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
