{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your eDeclaration" %}
{% set contentTitle = "Submit your eDeclaration" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">Home</p>
  </div>
</div>

{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <p>Confirm your GP practice details are correct to submit your eDeclaration.</p>

      <ul class="app-task-list">
        <li>
          <ul class="app-task-list__items--no-padding">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="eligibility-completed">
                Practice details
              </a>
              <strong class="tag-completed_blue" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Location details
              </a>
              <strong class="tag-started" id="read-declaration-completed">Started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Staff details
              </a>
              <strong class="tag-started" id="read-declaration-completed">Started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="read-declaration-completed">
                Catchment area
              </a>
              <strong class="tag-started" id="read-declaration-completed">Started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Services details
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Opening hours
              </a>
              <strong class="tag-not-started" id="contact-details-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Procedures details
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                Governance details
              </a>
              <strong class="tag-not-started" id="contact-details-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="contact-details-completed">
                GPIT details
              </a>
              <strong class="tag-not-started" id="contact-details-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Supporting information
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="#" aria-describedby="company-information-completed">
                Submit your eDeclaration
              </a>
              <strong class="tag-not-started" id="company-information-completed">Not submitted</strong>
            </li>
          </ul>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
