{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "If practice services are not available to patients during core contract hours what arrangements are in place?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}

{% set otherArrangements %}
{{ textarea({
  "name": "otherArrangements",
  "id": "inputnhsnumber",
  "label": {
    "text": "What other arrangements are in place?"
  }
}) }}
{% endset %}

{% set subContractProvider %}
{{ textarea({
  "name": "subContractProvider",
  "id": "inputnhsnumber",
  "label": {
    "text": "What is the name of your sub contracted provider?"
  }
}) }}
{% endset %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-services-details" method="get">



        {{ conditionalRadios({
          "idPrefix": "nhs",
          "name": "servicesArrangements",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Practice services
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-label--l app-heading-l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "OOH",
              "text": "Same out of hours provider as that commissioned by CCG"
            },
            {
              "value": "sub",
              "text": "Sub contracted provider",
              "conditional": {
                html: subContractProvider
              }
            },
            {
              "value": "directProvide",
              "text": "Provided directly by the practice"
            },
            {
              "value": "other",
              "text": "Other",
              "conditional": {
                html: otherArrangements
              }
            }
          ]
        }) }}


        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
