<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice services flow for a return user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/services-task-list-start">Task list</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/services-intro">Practice services section intro</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/new-services-details">Check the details you submitted last year</a></li>
      </ul>


      <h3>Changing details</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/patients-outside-boundary">Patients outside boundary</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/reasonable-needs-3">Reasonable needs V3</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/essential-services-4">Access essential services</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/essential-services-arrangements">Essential services arrangements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/provision-care">Provision of care</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/sub-contracts-provision">Sub contracts provision</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/monitor-ooh">Monitor OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/quality-ooh">Quality OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/review-ooh">Review OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/interpreting-2">Interpreting V2</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/funds-interpreting">Funds interepreting</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/review-website">Review website</a></li>
      </ul>

      <h3>New question</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/new-question-card">New question card</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/practice-email">Practice email</a></li>
      </ul>

      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/services-details-complete">Practice services section complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/task-list-services-section-complete">Task list section complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/returns-to-complete-section">User clicks back into completed section</a></li>
      </ul>


      <h2>Check and change answers</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-services-details">Change services details</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-patients-outside-boundary">Patients outside boundary</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-reasonable-needs-3">Reasonable needs V3</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-essential-services-4">Access essential services</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-essential-services-arrangements">Essential services arrangements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-provision-care">Provision of care</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-sub-contracts-provision">Sub contracts provision</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-monitor-ooh">Monitor OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-quality-ooh">Quality OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-review-ooh">Review OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-interpreting-2">Interpreting V2</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-funds-interpreting">Funds interepreting</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-review-website">Review website</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/change-practice-email">Practice email</a></li>
      </ul>



      <h2>Exploration</h2>


      <h3>Patient sources</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/patient-sources-2">Added Friends and family test to the checkboxes as in last year's declaration, many users added this source as free text</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/other-patient-sources">Other patient sources</a></li>
      </ul>

      <h2>Previous</h2>

      <ul>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/patient-online">Patient online</a></li>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/essential-arrangements-other">Essential services arrangements other</a></li>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/less-than-30">Less than 30%</a></li>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/reach-plan">Reach plan</a></li>
    </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
