<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice services" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/check-last-year">Check last year</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/new-services-details">Tell us your services details</a></li>
      </ul>


      <h3>Changing details</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/patients-outside-boundary">Patients outside boundary</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/reasonable-needs-2">Reasonable needs</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/essential-services">Access essential services</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/essential-services-arrangements">Essential services arrangements</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/provision-care">Provision of care</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/sub-contracts-provision">Sub contracts provision</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/provider-name">Provider name</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/monitor-ooh">Monitor OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/quality-ooh">Quality OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/review-ooh">Review OOH</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/interpreting-2">Interpreting</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/funds-interpreting">Funds interepreting</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/review-website">Review website</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/practice-email">Practice email</a></li>
      </ul>


      <h3>Section complete</h3>



      <h2>Exploration</h2>


      <h3>Patient sources</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/patient-sources-2">Added Friends and family test to the checkboxes as in last year's declaration, many users added this source as free text</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/other-patient-sources">Other patient sources</a></li>
      </ul>

      <h2>Previous</h2>

      <ul>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/patient-online">Patient online</a></li>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/essential-arrangements-other">Essential services arrangements other</a></li>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/less-than-30">Less than 30%</a></li>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/return-user/reach-plan">Reach plan</a></li>
    </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
