<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Information about the practice and its procedures" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>

      <h3>Start</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/check-last-year">Check last year</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/new-procedures-details">Tell us your procedures details</a></li>
      </ul>


      <h3>Changing details</h3>

      <h4>Communicating with patients</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/practice-leaflet">Do you have a practice leaflet?</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/reviews-leaflet">Reviews leaflet</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/available-leaflet">Leaflet made available</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/complaints-policy">Complaints policy</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/refused-application">Refused application</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/removing-patients">Removing patients</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/engage-ppg">PPG engagement</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/representative-ppg">Representative PPG</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/call-recall">Call recall activities</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/vaccination-programmes">Vaccination programmes</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/whistleblowing">Whistleblowing</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/whistleblowing-lead">Whistleblowing lead</a></li>
      </ul>

      <h4>Medication</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/medicines-act">Medicines Act</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/vaccine-storage">Vaccine storage</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/batch-numbers">Batch numbers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/vaccine-fridge">Vaccine fridge</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/administer-vaccine">Administer vaccines</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/controlled-drugs">Controlled drugs</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/controlled-drugs-regulations">Controlled drugs regulation</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/terms-of-service">Terms of service</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/pharmacy-premises">Pharmacy premises</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/minor-surgery">Minor surgery</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/chaperones">Chaperones</a></li>
      </ul>


      <h3>Section complete</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/procedures-details-complete">Procedures details complete</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/change-procedures-details">Change procedures details</a></li>
      </ul>


      <h2>Exploration</h2>

      <h3>Practice leaflet</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/about-leaflet">Tell us about your practice leaflet</a></li>
      </ul>

      <h3>PPG</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/work-with-ppg">Tell us about how you work with your patient participation group</a></li>
      </ul>

      <h3>Controlled drug regulations</h3>

      <ul>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/controlled-drugs-regulations-2">Controlled drugs regulations 2</a></li>
      </ul>

      <h2>Previous</h2>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
