{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Tell us your new medication details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set inputWheelchairOther %}
  {% if data['inputWheelchairOther'] %}
    <br> {{ data['inputWheelchairOther'] }}
  {% endif %}
{% endset %}

{% set wheelchairArrangements %}
  {% if data['wheelchairArrangements'] == 'homevisit' %}
    Home visits
  {% else %}
    {{ data['inputWheelchairOther'] }}
  {% endif %}
{% endset %}

{% set suitablePremises %}
  {% if data['suitablePremises'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set nhsEngland %}
  {% if data['nhsEngland'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set infectionControl %}
  {% if data['infectionControl'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set fireSafety %}
  {% if data['fireSafety'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set wheelchair %}
  {% if data['wheelchair'] == 'yes' %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Information about the practice and its procedures</span>{{ contentTitle }}</h1>

      <p>Check your medication details and change any incorrect details.</p>


      {{ summaryList({
        "classes": "nhsuk-summary-list--long",
        rows: [
          {
            key: {
              text: "Is your premises used for the provision of services under the contract suitable for the delivery of those services and sufficient to meet the reasonable needs of the practice’s patients?"
            },
            value: {
              text: suitablePremises | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/premises-equipment/return-user/suitable-premises",
                  text: "Change",
                  visuallyHiddenText: "if your premises used for the provision of services under the contract is suitable for the delivery of those services and sufficient to meet the reasonable needs of the practice’s patients"
                }
              ]
            }
          },
          {
            key: {
              text: "Is your premises used for the provision of services under the contract subject to a plan that has been formally agreed with NHS England?"
            },
            value: {
              text: nhsEngland | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/premises-equipment/return-user/nhs-england",
                  text: "Change",
                  visuallyHiddenText: "if your premises used for the provision of services under the contract is subject to a plan that has been formally agreed with NHS England"
                }
              ]
            }
          },
          {
            key: {
              text: "Can your practice demonstrate that it complies with arrangements for infection control and decontamination?"
            },
            value: {
              text: infectionControl | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/premises-equipment/return-user/infection-control-2",
                  text: "Change",
                  visuallyHiddenText: "if your practice can demonstrate that it complies with arrangements for infection control and decontamination"
                }
              ]
            }
          },
          {
            key: {
              text: "Can your practice demonstrate that it meets the requirements of the Health and Safety at Work Act 1974 and Fire Safety Regulations?"
            },
            value: {
              text: fireSafety | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/premises-equipment/return-user/fire-safety",
                  text: "Change",
                  visuallyHiddenText: "if your practice can demonstrate that it meets the requirements of the Health and Safety at Work Act 1974 and Fire Safety Regulations"
                }
              ]
            }
          },
          {
            key: {
              text: "Does your practice have at least one consulting room which is accessible to wheel chair users?"
            },
            value: {
              text: wheelchair | placeholder('Yes')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/premises-equipment/return-user/wheelchair",
                  text: "Change",
                  visuallyHiddenText: "if your practice has at least one consulting room which is accessible to wheel chair users"
                }
              ]
            }
          },
          {
            key: {
              text: "What arrangements are in place to meet the reasonable needs of patients who are wheelchair users?"
            },
            value: {
              html: data['wheelchairArrangements'] | placeholder('Home visits') + inputWheelchairOther
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/premises-equipment/return-user/wheelchair-arrangements",
                  text: "Change",
                  visuallyHiddenText: "what arrangements are in place to meet the reasonable needs of patients who are wheelchair users"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/sections/practice-procedures/return-user/procedures-details-complete" method="get">

          <input type="Submit" class="nhsuk-button" id="submit-details" value="Save and confirm">
        </form>


    </div>
  </div>
{% endblock %}
