{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "When undertaking call or recall activities as part of delivering vaccination programmes please specify when required how the practice’s eligible population are contacted?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/premises-equipment/return-user/vaccination-programmes" method="post">
        {{ checkboxes({
          "idPrefix": "nhs",
          "name": "vaccinationProgrammes",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">Information about the practice and its procedures
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-fieldset__legend--xl",
              "isPageHeading": true
            }
          },
          "hint": {
          "text": "Select all that apply"
        },
          "items": [
            {
              "value": "posterPatient",
              "text": "Poster in waiting room"
            },
            {
              "value": "notificationWebsite",
              "text": "Notification on practice website"
            },
            {
              "value": "letterPatient",
              "text": "Letter to patient"
            },
            {
              "value": "textMessage",
              "text": "Text message to patient"
            },
            {
              "value": "phoneCall",
              "text": "Phone call to patient"
            },
            {
              "value": "consultation",
              "text": "During consultation or appointment"
            },
            {
              "value": "other",
              "text": "Other electronic technical solution"
            },
            {
              "value": "othernonElectronic",
              "text": "Other non-electronic technical solution"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
