{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "The practice principle clinical system is accessible outside the practice" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
  $( "input[name='clinicalSystem']" ).on( "click", function() {
  if ( $( "input[name='clinicalSystem']:checked" ).val() === "no") {

    $( ".app-opening-time__container" ).addClass("app-u-display--none ")
    $('.app-opening-time__container' ).find('input, textarea, button, select').attr('disabled', true);

  } else if ( $( "input[name='clinicalSystem']:checked" ).val() === "notApplicable") {
    $( ".app-opening-time__container" ).addClass("app-u-display--none ")
    $('.app-opening-time__container' ).find('input, textarea, button, select').attr('disabled', true);

  } else {
    $( ".app-opening-time__container" ).removeClass("app-u-display--none ")

    // Find inputs that are now visible and make them disabled.
    $('.app-opening-time__container' ).find('input:visible, textarea:visible, button:visible, select:visible').attr('disabled', false);
  }
});
</script>
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/general-practice-it/return-user/clinical-system" method="post">


                {% if data['clinicalSystem'] === "no" %}
                  {% set noTrue = "True" %}
                {% elif data['clinicalSystem'] === "notApplicable" %}
                  {% set notApplicableTrue = "True" %}
                {% else %}
                  {% set yesTrue = "True" %}
                {% endif %}

                {% call fieldset({
                  "legend": {
                    "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">General practice IT
                    </span>' + contentTitle + '</h1>',
                    "classes": "nhsuk-fieldset__legend--xl",
                    "isPageHeading": true
                  }
                }) %}

                {{ radios({
                  "idPrefix": "nhs",
                  "name": "clinicalSystem",
                  "fieldset": {
                    "legend": {
                      "classes": ""
                    }
                  },
                  "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            },
            {
              "divider": "or"
            },
            {
              "value": "notApplicable",
              "text": "This does not apply to my practice"
            }
          ]
        }) }}

        <div class="app-opening-time__container {%- if noTrue %} app-u-display--none{% endif -%}">


        <h2 class="nhsuk-fieldset__legend--m">The practice principle clinical system is accessible outside the practice for the following purposes:</h2>

        {{ checkboxes({
          "idPrefix": "nhs",
          "name": "clinicalSystemPurposes",
          "fieldset": {
            "legend": {
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": true
            }
          },
          "hint": {
          "text": "Select all that apply"
        },
          "items": [
            {
              "value": "routine",
              "text": "Access at all routine locations for GP service point of care delivery (for example out of surgery locations such as hospitals, nursing homes and community using mobile technologies)"
            },
            {
              "value": "remote",
              "text": "Access remotely for example home for administrative and maintenance purposes"
            },
            {
              "value": "mobile",
              "text": "Access from patient homes using mobile technologies (subject to local provider network coverage)"
            }
          ]
        }) }}

      </div>

      {% endcall %}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
