{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "What the General practice IT section covers" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "/submit-your-edec/sections/general-practice-it/return-user/practice-it-task-list-start",
        "text": "Back to your task list"
      }) }}

      <div class="app-card">
        <div class="app-card__wrapper">
          <div class="app-card__content">
            <h1 class="app-card__heading nhsuk-heading-l">{{ contentTitle }}</h1>

            <p>The questions asked in this section are based on published guidance or NHS policies (in which case links to relevant documentation is given) or on good practice and known transformational enablers not all of which will be relevant to all general practices and localities.</p>

            <p>Declaring No in this section does not mean the practice is non-compliant with their contract.</p>

            <p>Responses to questions in this section will be shared within other modules of the primary care indicators website GPIT section <a href="https://www.primarycareindicators.nhs.uk">www.primarycareindicators.nhs.uk</a> and will be visible to all other users.</p>

            <form action="/{{PROTOTYPEURL}}/sections/general-practice-it/return-user/new-general-details" method="get">

              <input type="submit" class="nhsuk-button" value="Continue">
              </input>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
