{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "How does your principal clinical system and IT infrastructure support shared working between practices?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/general-practice-it/return-user/" method="get">

        {{ checkboxes({
          "idPrefix": "nhs",
          "name": "sharedWorking",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">General practice IT
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-fieldset__legend--xl",
              "isPageHeading": true
            }
          },
          "hint": {
          "text": "Select all that apply"
        },
          "items": [
            {
              "value": "records",
              "text": "Clinical system (records)"
            },
            {
              "value": "appointments",
              "text": "Appointment booking and management"
            },
            {
              "value": "telephony",
              "text": "Integrated telephony systems across practices"
            },
            {
              "value": "reporting",
              "text": "Reporting on activity and coded clinical data"
            },
            {
              "value": "morbidity",
              "text": "Morbidity Registers across aggregated (federation) populations"
            },
            {
              "value": "other",
              "text": "Other"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
