<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Branch details flow for new user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>


    <h3>Note</h3>

    <p><strong>When a user clicks off the input, the autocomplete should close.</strong></p>


      <h3>Branch details</h3>

      <p>Applies to users who in the practice details section have told us they have branch practices.</p>

      <p>If user has more than 1 branch, the button on the last branches check phone answers should say 'Save and confirm'. Buttons on the previous branch check answers pages should say 'Save and continue'.</p>

      <p>If user has only 1 branch, the button on the check phone answers page should say 'Save and confirm'.</p>

      <p>If user indicates that only some of their branch reception opening hours are different, the check your answers page should inject their main practice opening hours for the days that are the same.</p>


      <h4>Branch reception opening hours (10C)</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/is-branch-same">Are your branch opening hours the same as your practice</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/which-days-branch">Branch which days</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-monday">Branch monday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-tuesday">Branch tuesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-wednesday">Branch wednesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-thursday">Branch thursday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-friday">Branch friday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-saturday">Branch saturday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-sunday">Branch sunday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-branch-hours">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-monday">Change branch monday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-tuesday">Change branch tuesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-wednesday">Change branch wednesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-thursday">Change branch thursday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-friday">Change branch friday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-saturday">Change branch saturday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-sunday">Change branch sunday opening hours</a></li>
      </ul>

      <h4>Branch phone opening hours (10C)</h4>


      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/is-branch-phone-same">Are your branch phone line opening hours the same as your practice</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/which-days-branch-phone">Branch phone which days</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-monday">Branch monday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-tuesday">Branch tuesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-wednesday">Branch wednesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-thursday">Branch thursday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-friday">Branch friday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-saturday">Branch saturday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/branch-phone-sunday">Branch sunday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/check-branch-phone-hours">Check your answers</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-monday">Change branch monday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-tuesday">Change branch tuesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-wednesday">Change branch wednesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-thursday">Change branch thursday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-friday">Change branch friday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-saturday">Change branch saturday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/change-branch-phone-sunday">Change branch sunday phone opening hours</a></li>
      </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
