{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "You've completed the regular closure periods section" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class=""><span class="nhsuk-caption-l nhsuk-caption--top">Regular periods of closure</span>{{ contentTitle }}</h1>

      <p>You can check and change your regular closure period details at any time before submitting your electronic declaration.</p>

      {{ button({
        "text": "Check and change your details",
        "href": "/submit-your-edec/sections/practice-services/opening-hours/return-user/regular/change-regular-hours"
      }) }}

      {{ backLink({
        "href": "/submit-your-edec/sections/practice-services/opening-hours/return-user/regular/task-list-regular-section-complete",
        "text": "Back to your task list"
      }) }}

    </div>
  </div>
{% endblock %}
