{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = practice %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "/submit-your-edec/demos/practice-details/select-a-practice-new",
        "text": "Back to your GP practices"
      }) }}


      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <p>Submit your electronic declaration for {{ practice }}.</p>

      <div class="app-task-list nhsuk-u-margin-bottom-6">
          <ul class="app-task-list__items--no-padding">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name practicename" href="/{{ PROTOTYPEURL }}/sections/practice-details/new-user/task-list-with-sections-3" aria-describedby="eligibility-completed">
                Submit your 2019 declaration
              </a>
              <strong class="tag-not-started" id="eligibility-completed">Not started</strong>
            </li>
          </ul>
      </div>

      <p><a href="#">See your previously submitted declarations for {{ practice }}</a></p>

      <h2>Your practice catchment area</h2>

      <p><a href="#">Embed your practice catchment area on your website</a></p>


    </div>
  </div>
{% endblock %}
