<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Phone opening hours flow for return user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>


    <h3>Note</h3>

    <p><strong>When a user clicks off the input, the autocomplete should close.</strong></p>

    <h3>Start</h3>

        <ul>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/task-list-start">Task list start</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/services-intro">Section intro</a></li>
        </ul>

        <h3>Check your phone hours</h3>

        <ul>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/check-phone-answers">Check the phone opening hours you submitted last year</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/monday-phone">Monday phone opening hours</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/tuesday-phone">Tuesday phone opening hours</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/wednesday-phone">Wednesday phone opening hours</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/thursday-phone">Thursday phone opening hours</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/friday-phone">Friday phone opening hours</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/saturday-phone">Saturday phone opening hours</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/sunday-phone">Sunday phone opening hours</a></li>
        </ul>


        <h3>Section complete</h3>

        <ul>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/phone-details-complete">Phone section complete</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/task-list-phone-section-complete">Task list section complete</a></li>
          <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/returns-to-complete-section">User clicks back into completed section</a></li>
        </ul>


        <h2>Check and change answers</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-phone-hours">Change phone hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-monday-phone">Change Monday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-tuesday-phone">Change Tuesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-wednesday-phone">Change Wednesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-thursday-phone">Change Thursday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-friday-phone">Change Friday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-saturday-phone">Change Saturday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/change-sunday-phone">Change Sunday phone opening hours</a></li>
      </ul>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
