{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "The practice is enriching the Summary Care Record of patients who have given their consent, including those living with severe frailty?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/sections/general-practice-it/new-user/review-arrangements-2" method="post">

        {{ radios({
          "idPrefix": "nhs",
          "name": "enrichScr",
          "fieldset": {
            "legend": {
              "html": '<h1 class="nhsuk-fieldset__heading"><span class="nhsuk-caption-l nhsuk-caption--top">General practice IT
              </span>' + contentTitle + '</h1>',
              "classes": "nhsuk-label--l app-heading-l"
            }
          },
          "hint": {
            text: "The response is not limited to those who have severe frailty and aged 65 and over, instead it refers to all the patients in a practice who have consented for their records to be enriched."
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
