<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice services opening hours flow for return user" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <h2>Latest</h2>

      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/">
          Tell us your GP practice opening hours (sets data in flow)
        </a>
      </li>
    </ul>

      <h3>Reception opening hours</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/new-opening-hours">Check your reception opening hours and change any times that need updating</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-monday">Change your Monday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-tuesday">Change your Tuesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-wednesday">Change your Wednesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-thursday">Change your Thursday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-friday">Change your Friday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-saturday">Change your Saturday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/v2/change-sunday">Change your Sunday opening hours</a></li>
      </ul>

      <h3>Phone opening hours</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/new-phone-hours">Check your phone opening hours and change any times that need updating</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-monday-phone">Change your Monday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-tuesday-phone">Change your Tuesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-wednesday-phone">Change your Wednesday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-thursday-phone">Change your Thursday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-friday-phone">Change your Friday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-saturday-phone">Change your Saturday phone opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/change-sunday-phone">Change your Sunday phone opening hours</a></li>
      </ul>

      <h3>Closing hours</h3>


      <h4>Regular periods practice is closed</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular-periods">Regular periods closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/check-regular-periods">Check regular periods</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular-periods-closed-monday">Monday regular periods where practice is closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular-periods-closed-tuesday">Tuesday regular periods where practice is closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular-periods-closed-wednesday">Wednesday regular periods where practice is closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular-periods-closed-thursday">Thursday regular periods where practice is closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular-periods-closed-friday">Friday regular periods where practice is closed</a></li>
      </ul>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/which-days-regular-periods">Which days are there regular periods during each week that the practice is closed</a></li>
      </ul>

      <h4>Intermittent periods practice is closed</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-periods">Intermittent periods closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/check-intermittent-periods">Check intermittent periods closed</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/which-days-intermittent-closure">Which days are there intermittent periods of closure</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-monday-time">Monday intermittent closure - time</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-monday-frequency">Monday intermittent closure - frequency</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-tuesday-time">Tuesday intermittent closure - time</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-tuesday-frequency">Tuesday intermittent closure - frequency</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-tuesday-time">Wednesday intermittent closure - time</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-tuesday-frequency">Wednesday intermittent closure - frequency</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-thursday-time">Thursday intermittent closure - time</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-thursday-frequency">Thursday intermittent closure - frequency</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-friday-time">Friday intermittent closure - time</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent-closed-friday-frequency">Friday intermittent closure - frequency</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/closed-each-week">Closed each week</a></li>
      </ul>

      <h4>Extended opening hours</h4>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-per-week">Do you have extended opening hours per week</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/which-days-extended-hours">Which days do you have extended opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-monday">Extended opening hours on Monday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-tuesday">Extended opening hours on Tuesday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-wednesday">Extended opening hours on Wednesday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-thursday">Extended opening hours on Thursday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-friday">Extended opening hours on Friday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-saturday">Extended opening hours on Saturday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-sunday">Extended opening hours on Sunday</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-funding">Extended opening hours funding mechanism</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended-hours-contract">Extended opening hours contract end date</a></li>
      </ul>


      <h2>Alternatives</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-opening-hours--with-panel">
            With panel - Check your opening hours and change any times that need updating
          </a>
        </li>
      </ul>

      <h2>Previous</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/card">Card</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/check-last-year">Check the opening hours you submitted last year</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-opening-hours">Tell us your new opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-monday">Change your Monday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-tuesday">Change your Tuesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-wednesday">Change your Wednesday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-thursday">Change your Thursday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-friday">Change your Friday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-saturday">Change your Saturday opening hours</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/change-sunday">Change your Sunday opening hours</a></li>
      </ul>


      <h2>Exploration</h2>
      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/which-days">Select which days you need to change your opening hours</a></li>
      </ul>





      <!-- End of content -->

    </div>
  </div>
{% endblock %}
