<!-- Use this page as the index for your project -->
{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% set contentTitle = "Practice services - opening hours" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>{{ contentTitle }}</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->


      <h2>New user</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/reception/index">Reception opening hours (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/phone/index">Phone opening hours (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/regular/index">Regular periods of closure (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/intermittent/index">Intermittent periods of closure (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/new-user/extended/index">Extended opening hours details (Practice services)</a></li>
      </ul>

      <h2>Return user</h2>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/reception/index">Reception opening hours (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/phone/index">Phone opening hours (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/regular/index">Regular periods of closure (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/intermittent/index">Intermittent periods of closure (Practice services)</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/return-user/extended/index">Extended opening hours details (Practice services)</a></li>
      </ul>

      <h2>Examples of free text boxes on a time input page</h2>

      <p>These are examples of having a free text box on a page where users input times. These examples are for Monday, other days should be the same apart from the day should be different.</p>

      <h3>How free text input should look on a summary list page</h3>

      <p>Any input into the free text box on time input pages should be presented in the summary list in the value under the time input. See Monday in the list as an example.</p>

      <ul>
      <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/check-reception-answers">Summary list example</a></li>
    </ul>

    <h3>Free text box examples</h3>

      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/reception-monday">Reception monday with free text box</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/monday-phone">Phone monday with free text box</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/regular-periods-closed-monday">Regular periods monday with free text box</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/intermittent-closed-monday-time">Intermittent periods monday with free text box</a></li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
