{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Tell us your new opening hours" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] }}</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-label--xl app-heading-xl">{{ contentTitle }}</h1>

      <p>Check your opening hours and change any incorrect opening hours.</p>

      <form action="/{{ PROTOTYPEURL }}/sections/practice-services/opening-hours/" method="get">

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Monday"
            },
            value: {
              html: data['mondayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-monday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Tuesday"
            },
            value: {
              html: data['tuesdayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-tuesday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Wednesday"
            },
            value: {
              html: data['wednesdayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-wednesday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Thursday"
            },
            value: {
              html: data['thursdayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-thursday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Friday"
            },
            value: {
              html: data['fridayOpeningHours'] | placeholder('9am to 12pm<br>2pm to 6pm')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-friday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Saturday"
            },
            value: {
              text: data['tuesdayOpeningHours'] | placeholder('Closed')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-saturday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Sunday"
            },
            value: {
              text: data['tuesdayOpeningHours'] | placeholder('Closed')
            },
            actions: {
              items: [
                {
                  href: "/submit-your-edec/sections/opening-hours/change-sunday",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}


        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>


    </div>
  </div>
{% endblock %}
