{% set PROTOTYPEURL = "submit-your-edec" %}
{% set serviceName = "Submit your electronic declaration" %}
{% if data['practice'] %}
    {% set practice = data['practice'] %}
  {% else %}
    {% set practice = "The Nye Practice" %}
{% endif %}
{% set contentTitle = "Which days do you need to change?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<div class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-u-margin-bottom-0	nhsuk-heading-s">{{ practice }} {{ data['gpODSCode'] | placeholder("(Y00001)") }}</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="" method="post">
        {{ checkboxes({
          "idPrefix": "daysEdit",
          "name": "daysEdit",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "classes": "nhsuk-label--xl app-heading-xl",
              "isPageHeading": true
            }
          },
          "hint": {
          "text": "Select all that apply"
        },
          "items": [
            {
              "value": "monday",
              "html": "Monday"
            },
            {
              "value": "tuesday",
              "text": "Tuesday"
            },
            {
              "value": "wednesday",
              "text": "Wednesday"
            },
            {
              "value": "thursday",
              "text": "Thursday"
            },
            {
              "value": "friday",
              "text": "Friday"
            },
            {
              "value": "saturday",
              "text": "Saturday"
            },
            {
              "value": "sunday",
              "text": "Sunday"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>
      {{ backLink({
        "href": "../opening-hours/check-last-year",
        "text": "Back"
      }) }}

    </div>
  </div>
{% endblock %}
